[2020-11-13 21:24] verdverm opened #3 "License"
This repo does not look to have a license

[2020-11-13 22:12] steve8708 commented on #3
Thanks @verdverm, just added (MIT)!

[2020-11-13 22:12] #3 closed

[2020-11-14 03:23] NullVoxPopuli opened #4 "How will you handle scenarios where JSX is lossy?"
Like for example, a differentiation between attributes and arguments?

In jsx, there is only the 'prop', which react uses for both html attributes and component arguments

[2020-11-14 16:11] steve8708 commented on #4
Well so the benefit of JSX lite is it is more restrictive than plain JSX, we enforce this at the compiler level as well as have an eslint plugin to give guidance in the IDE. So we can be more strict than plain react, e.g.

`<div foo="bar" ... />` <- is all dom attributes
`<Thing foo="bar" ... />` <- is all component arguments

[2020-11-14 16:32] NullVoxPopuli commented on #4
but I mean, what if the component needs to know the difference between component arguments and attributes?
can jsx-like differentiate? like:

map `<Thing @foo=1 foo=1 />` to, in, Thing: `props.args: { foo: 1 }`, `props.attributes: { foo: '1' }`

[2020-11-14 16:38] steve8708 commented on #4
So that is the components choice. JSX Lite does not assume you want any props to be attributes, you choose what should be. A common pattern in React land for this to do things like

[code]

So in your example above, every prop is treated as `@foo`. We don't have any assumption that each component maps to a tag of any kind. They are all just arguments the component can handle as they desire, except

[2020-11-14 17:16] NullVoxPopuli commented on #4
Yeah, I've used React for a long time. 👍

I take issue with the
[code]
pattern though, because if any extra args are accidentally passed, they are treated thrown an to the div.

Sure, you can say "don't pass extra stuff", but with how much spreading of props, it's _really_ easy for folks to make mistakes and throw extra args / attributes all over the place.

[2020-11-16 16:54] steve8708 commented on #4
Yeah so your point above is why imo I never actually use that pattern either, and always opt to only supporting explicit args to components. We have planned to allow custom syntax extensions via plugins (that hook into babel) to allow defining your own rules/syntaxes such as this as an optional addon, so I can keep this use case in mind

Also, I'm curious, is there any frameworks you have used tha

[2020-11-16 22:31] NullVoxPopuli commented on #4
atm, I use Ember, which splits args and attributes. It's really nice, because all attributes are known and separate from args -- so there is a special named spread that can go on elements:

[code]

[2020-11-16 23:53] steve8708 opened #8 "Make Fiddle panels resizable"
By dragging the dividers, similar to how you can resize the panes in jsfiddle.net

[2020-11-18 18:39] steve8708 commented on #4
Ah yes I see. so at the moment JSX lite will enforce that in your example, all key/value pairs will be treated as `@arg`, so for example

[code]

would map to

[code]

our goal is not necessarily to support all features of all frameworks, but to lean on standard primitives that work across (aka a core subset of features), and I personally when working with react, vue, etc that don't have such a di

[2020-11-18 19:30] NullVoxPopuli commented on #4
wouldn't the primitive the more specific thing, like in your example where _everything_ is prefixed with `@` and transpiled away for React, for example?

this is my point, you're having to work around limitations of an imprecise syntax

[2020-11-19 19:21] steve8708 opened #10 "Output styles to Solid as solid-styled-components"
Right now it does css={...} which is a noop, needs to be class={css(...)}

[2020-11-21 00:14] #10 closed

[2020-11-23 17:52] mandx opened #11 "For consideration: Compile to Alpine.js"
### A small preview (taken for the README):

*Dropdown/Modal*
[code]

*Tabs*
[code]

[2020-11-24 22:51] jimthedev commented on #4
Just linking to the RFC since that is likely where any resolution would happen and not until React 18 or so. https://github.com/facebook/react/issues/11347

[2020-11-30 22:06] Demysdcl opened #24 "Svelte Syntax Error"
[code]

[2020-11-30 22:22] mandx commented on #24
Hi @Demysdcl! Would you mind pointing us to the specific error location? I'm trying this very code in [Svelte's REPL](https://svelte.dev/repl) and it doesn't give me any errors...

[2020-11-30 23:10] steve8708 opened #25 "Allow choosing state libraries for React and Svelte"
E.g. for react, svelte - allow `useState` (react) and variable assignment (svelte) as an output option for those who want to not use any libraries and are aware they will need to make all top level state mutations immutable (aka they can't do `state.foo.bar = 'baz'` but in jsx lite will need to do `state.foo = {...state.foo, bar: 'baz' }`

we can also support mobx for react too

[2020-11-30 23:15] Demysdcl commented on #24
I put  the correct code, the example in your site has the error

[2020-11-30 23:38] mandx commented on #24
Ah yes I see what you mean now.

Right now, JSX-Lite probably won't generate the most idiomatic code for each framework; right now it we are focusing on it generating working code. This doesn't mean however that JSX-Lite won't use Svelte `bind:`ings in the future, we do plan to improve code generation in general to use the target framework's features better.

[2020-12-01 04:56] #25 closed

[2020-12-01 05:01] steve8708 commented on #24
realized we can support auto compiling to bind:value when very easily detectable

![ezgif com-gif-maker (6)](https://user-images.githubusercontent.com/844291/100699204-2e784900-334f-11eb-9b79-2132af00beed.gif)

added via https://github.com/BuilderIO/jsx-lite/commit/36bf691f1c773d192134bd943c38976704d95717

thanks for the feedback @Demysdcl

[2020-12-01 05:01] #24 closed

[2020-12-01 05:04] #8 closed

[2020-12-01 12:21] Demysdcl opened #30 "There isn't on-change method in Svelte and $: don't need a function"
This is almost perfect, you only need to remove the unnecessary import and it's done.

[code]

In Computed

[code]

[2020-12-01 16:29] steve8708 opened #31 "Add eslint plugin integration to the fiddle"
Seems this blog article shows how to use esling with monaco https://blog.expo.io/building-a-code-editor-with-monaco-f84b3a06deaf

We already have an eslint plugin in the works, adding it to the monaco editor and expanding the rules it checks for will help people in the fiddle to avoid pitfalls

[2020-12-01 18:25] steve8708 opened #32 "In the fiddle - when selecting code highlight the corresponding layer in Builder, and visa versa"

[2020-12-01 18:39] steve8708 commented on #30
oops, thanks for catching the mistaken on-change import, just pushed the fix for that

the second piece around the computed value is a bit trickier to solve, so will leave this ticket open until we find a good solution there

[2020-12-05 09:31] uptonking opened #34 "any plan to support compiling jsx to customElements class of web components?"
jsx-lite example

[code]
may be compiled to something like this

[code]

web components is the official standard.
It's becoming more and more popular for big companies, like [google polymer](https://github.com/Polymer/polymer), [microsoft fast](https://github.com/microsoft/fast),[salesforce lwc](https://github.com/salesforce/lwc), [SAP ui5](https://github.com/SAP/ui5-webcomponents)...

implementat

[2020-12-07 17:48] steve8708 commented on #34
Great idea @uptonking - alpha support added!

[2020-12-07 17:48] #34 closed

[2020-12-10 21:07] mandx opened #36 "Iterate over all submodules in `core/src/__tests__/data/blocks/*` and run snapshot tests on each"

[2020-12-26 05:16] shadowtime2000 opened #39 "Error with Context Map and Web Component Target"
If you use this JSX Lite code:
[code]
it creates some web component code where in the `constructor` it is running
[code]
And `contextMap` is referenced in the methods of the web component class. Was it meant to be `this.contextMap`?

[2021-01-11 18:36] JaccoGoris opened #41 "Export out of figma puts all the content way to the left"
Hi!

First off: Awesome project! Excited to see where this goes.
I've tried some exports but have only mixed results so far, anything nested puts my content somewhere way off to the side

**When I try to export this button for instance:**
![image](https://user-images.githubusercontent.com/7052832/104223201-9e481c00-5443-11eb-8537-e3b64a437f83.png)

**With this css**
![image](https://user-images.gi

[2021-01-12 16:07] steve8708 commented on #41
Thanks for calling out @JaccoGoris ! This issue is actively on our todo list, will leave this open until resolved

[2021-01-19 19:29] #39 closed

[2021-01-26 21:53] noho-glitch opened #56 "uploading figma json"
It's currently not uploading.  I got html to figma extension, downloaded a sites json and then attempted to upload the "page.builder.json" to no avail.

`react_devtools_backend.js:2430 Format error for file: export default function MyComponent(props) {

  return (

    )
} {
  "@type": "@jsx-lite/component",
  "imports": [],
  "meta": {},
  "state": {},
  "children": [],
  "hooks": {},
  "name": "

[2021-02-05 17:08] jsphs opened #58 "Custom classes are rewritten"
I'm testing out the builder at builder.io/fiddle and tried the "Import from:" function.

I imported from: https://getbootstrap.com/docs/5.0/examples/album/

Looking at the HTML/CSS/JS in the "Get Code" viewer, builder.io seems to have replaced all the classes with random div names.

e.g. div class="container" has been changed to div class="div-2", and all the p class tags are also divs.

I also no

[2021-02-18 04:34] surjithctly commented on #11
Yup. I support this as well.

In the current HTML implementation the JS become messy on many interactions. Alpine.js integration will be a super cool addition.

Thank you.

[2021-02-19 17:47] steve8708 commented on #56
hey @noho-glitch - we just added a new option for the `get code` option in the figma plugin to skip the JSON download and upload altogether - try that out when you can and let us know if that works for you

[2021-02-19 17:49] steve8708 commented on #41
hey @JaccoGoris - we just pushed a significant update to our figma import that should wipe out this issue

It now requires using Figma's [autloayout](https://help.figma.com/hc/en-us/articles/360040451373-Create-dynamic-designs-with-Auto-layout) feature, to much more reliable results. You can see more on the new flow [here](https://www.builder.io/c/docs/import-from-figma)

[2021-02-23 19:11] ca136 opened #59 "HTML Characters break prettier stage of Vue generation"
Minimal reproducible example:
https://jsx-lite.builder.io/?outputTab=vue&code=import+%7B+useState+%7D+from+%22%40jsx-lite%2Fcore%22%3B%0A%0Aexport+default+function+TestComponent%28%29+%7B%0A++const+state+%3D+useState%28%7B%7D%29++++%0A%0A++return+%28%0A++++++%3Cdiv%3E%0A++++++++%26%2310005%0A++++++%3C%2Fdiv%3E%0A++%29%3B%0A%7D%0A

[code]

[2021-02-26 16:01] steve8708 commented on #59
ugly - but you may be able to work around this by doing `{'&#10005'}` in the JSX Lite code

[2021-02-26 18:24] brillout opened #64 "vite-plugin-ssr"
ryansolid told me that you may be interested in https://github.com/brillout/vite-plugin-ssr

For marketings sites, SSR is necessary and vite-plugin-ssr would allow you to generate SSR source code that is dev frienldy.

Hit me up on Discord if you have questions https://discord.gg/SUeuec9

[2021-02-28 01:54] tomByrer opened #67 "<br> does not work"
`<br>` is [valid HTML](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/br)
`<br />` does render correctly though

Thanks for your project; thought about doing this years ago!

[2021-02-28 15:21] tomByrer opened #68 "[fiddle] + dark mode"
Neat tool!

The lack of dark mode is a bit of A11y issue for me; too much white screens can aggravate my concussion. I had to install a "Dark Mode" browser exertion; the fiddle actually looks better with it on to me!  (I'd only make the line numbers more transparent/less bright)  Unfortunately this doesn't work in VSCode.
![image](https://user-images.githubusercontent.com/1308419/109423911-0678a00

[2021-02-28 19:49] luislpv22 opened #69 "createContext and useContext are not implemented"
I've realised that createContext and useContext features aren't implemented yet.
Is there an ETA for these features?

Btw, this package is awesome, looks very promising to me.

Thanks!

[2021-03-01 02:28] tomByrer commented on #69
Is there an equivalent in Svelte, Solid, Liquefy, etc?

[2021-03-01 15:49] luislpv22 commented on #69
I've tried before with this:

[code]

But it outputs that:

**JSON**
[code]
**REACT**
[code]

[2021-03-01 17:27] mandx commented on #67
It is true that `<br>` is valid HTML, however this is a JSX-based framework, (like React and [many](https://preactjs.com/) [others](https://github.com/ryansolid/solid)) so all of the rules of JSX applies (like for example, all "tags" must be closed). Parsing HTML is very difficult in itself, and trying to map its concepts to other JSX-based frameworks is very difficult, while the inverse is actual

[2021-03-01 17:53] steve8708 commented on #64
thanks @brillout , will do 👍

[2021-03-01 17:53] #64 closed

[2021-03-01 18:27] steve8708 commented on #68
thanks @tomByrer - this is a huge help. we've got a whole sweep to allow theme settings throughout our app (dark mode, higher contract, animation reduction/removal, etc) on our roadmap for later this year and we'll happily incorporate your feedback here!

[2021-03-01 18:31] steve8708 commented on #69
@luislpv22 you're correct context is not yet implemented but on the todo list! will follow up here when we have updates on that

[2021-03-02 02:24] #67 closed

[2021-03-03 15:34] JaccoGoris commented on #41
Thanks a lot! I'll check it out when I find the time!

[2021-03-08 13:18] luislpv22 commented on #36
Hello,

I've made some progress on this, but right now you are running different test cases for each suite, so could you tell me how you'd like to manage that?

Example:
**parse-jsx.test.ts** is running a single test case on this block: **button-with-metadata.raw.tsx**
If we loop through /data/blocks, this suite (and all of them) would run a test case for every block.

Thanks.

[2021-03-08 17:32] #31 closed

[2021-03-08 18:00] mandx commented on #36
Hi @luislpv22! First, apologies for the sparse text here, I guess it looks like more like a paper note than a proper ticket.

The idea is to enumerate all test blocks (all the modules/components in `packages/core/src/__tests__/data`, which should contain one component/block each), then enumerate all available targets (React, Vue, etc...) and for each of these combinations of (block, target) simply

[2021-03-15 01:43] cereschen opened #76 "Error [ERR_PACKAGE_PATH_NOT_EXPORTED]"
Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: No "exports" main resolved in C:\Users\GT-N02\AppData\Roaming\npm\node_modules\@jsx-lite\cli\node_modules\@jsx-lite\core\package.json

os: win10
node: 12.18.2 15.11.0

[2021-03-15 01:45] cereschen opened #77 "Error [ERR_PACKAGE_PATH_NOT_EXPORTED]"
Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: No "exports" main resolved in C:\Users\GT-N02\AppData\Roaming\npm\node_modules\@jsx-lite\cli\node_modules\@jsx-lite\core\package.json

os: win10
node: 12.18.2 15.11.0

[2021-03-15 02:10] #76 closed

[2021-03-15 16:12] steve8708 commented on #77
Hi @cereschen,

We need more information to look into your error. In particular, additional context such as what were the steps to reproduce?

[2021-03-16 06:06] cereschen commented on #77
npm install -g @jsx-lite/cli
cd D:\test
create file: D:\test\test.tsx
paste:
[code]

run  jsx-lite compile --to=vue test.tsx

I didn't have this error in Node 12.16.1 today but later versions will still report the error

[2021-03-16 06:07] cereschen commented on #77
$ jsx-lite compile --to=vue my-file.lite.jsx
C:\Users\GT-N02\AppData\Roaming\nvm\v15.11.0\node_modules\@jsx-lite\cli\node_modules\gluegun\build\index.js:13
    throw up;
    ^

Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: No "exports" main defined in C:\Users\GT-N02\AppData\Roaming\nvm\v15.11.0\node_modules\@jsx-lite\cli\node_modules\@jsx-lite\core\package.json
    at new NodeError (node:internal/errors

[2021-03-17 16:50] #77 closed

[2021-03-18 14:53] Dkendal commented on #77
Hey @cereschen this should be fixed in @jsx-lite/cli version 0.0.3.

[2021-03-20 01:01] jobizzness opened #81 "onUnMount is not defined"
When using `Edit content JS + CSS` in builder, onMount work well but getting an onUnMount error when trying to do clean-ups.

[code]

![1](https://user-images.githubusercontent.com/14133399/111854570-bb074100-8917-11eb-9054-b5a7064b0388.PNG)

[2021-03-29 15:30] Dkendal opened #85 "Upgrade CI to use NPM@7 workspaces"

[2021-05-06 18:59] ffleandro opened #88 "@emotion/react: Builder JSON conversion to React + Next.js"
I'm trying to use a React generated Component in a Next.js application, generated from a Builder JSON object that was created through Figma + BuilderIO Plugin.

My conversion command:
[code]

This generates a React component that uses the `@emotion/react` library.

[code]

However, the generated react component uses some components like `Image`, `Columns` or `Column` objects and next.js isn't able

[2021-05-07 16:48] Dkendal commented on #88
Hey @ffleandro!

The `<Columns />`, `<Column />`, and `<Image />` components you mentioned are Builder specific react components that we have defined within the editor. These should only be included in the output if you're planning on letting Builder render the content as jsx-lite. These shouldn't have been included in the compiler output by default, so thanks for point that out :smile: !

Once th

[2021-05-07 18:05] #88 closed

[2021-06-16 08:42] tomByrer commented on #69
Any progress on this please?
I was looking into translating some React into JSX-Lite, but seems useContext is all the rage these days ;)

[2021-06-18 07:35] Acidic9 opened #98 "Props removed when compiling to Solid"
When compiling to solid js, the props argument from the function seems to get removed.

This can be easily reproduced in the jsx-lite playground itself:
[code]
Ouput to Solid:
[code]
As you can see, props are removed from the arguments in the output.

[2021-06-18 18:29] steve8708 commented on #98
Fixed over in #99

[2021-06-18 18:29] #98 closed

[2021-06-18 18:34] steve8708 commented on #98
thanks for reporting @Acidic9 - output should be much cleaner now:

Input:
[code]

Output:

[code]

[2021-06-23 19:14] steve8708 commented on #69
definitely still on the todo list - trying to carve off time soon to knock out this and a few other things!

[2021-07-04 18:58] phiberber opened #107 "Tailwind Template not running"
Seems the TailWind template in the [builder website](https://jsx-lite.builder.io/) is missing a '}', so the template won't build and run.

This issue is related to the https://github.com/BuilderIO/jsx-lite/commit/de2c766eef82fb89196620087cfa1b54511c3ff2 commit.

[code]

[2021-07-12 19:27] steve8708 commented on #107
Thanks @phiberber! fixed over here #110

[2021-07-12 19:38] #107 closed

[2021-07-26 19:12] steve8708 commented on #69
actively working on this over here https://github.com/BuilderIO/jsx-lite/pull/113

[2021-07-30 03:32] 0x219 opened #116 "Request to open sponsor~"
I hope this project will continue...

[2021-07-30 07:38] mindplay-dk opened #117 "Conditionals not supported?"
Any plans to support [conditional expressions with JSX](https://jsx-lite.builder.io/?outputTab=json&code=import+%7B+useState+%7D+from+%22react%22%3B%0A%0Aexport+default+function+MyComponent%28props%29+%7B%0A++const+%5Bname%2C+setName%5D+%3D+useState%28%22Steve%22%29%3B%0A++const+%5BshowName%2C+setShowName%5D+%3D+useState%28true%29%3B%0A%0A++return+%28%0A++++%3Cdiv%3E%0A++++++%7BshowName%0A++++++++

[2021-07-30 14:35] YogliB opened #118 "@builder.io/mitosis-cli is not in the npm registry, or you have no permission to fetch it."
I couldn't find `@builder.io/mitosis-cli` on npm, what am I doing wrong?

[2021-07-30 15:38] steve8708 commented on #118
Thanks for catching @YogliB ! Just published the latest version https://www.npmjs.com/package/@builder.io/mitosis-cli

we are a mid a lot of updates so there is a chance something is broken, so worst case you can always use the prior name which is documented over [here](https://www.npmjs.com/package/@jsx-lite/cli)

[2021-07-30 15:40] steve8708 commented on #117
Ah! thanks for catching @mindplay-dk! Right now there are two ways to do conditions, ternaries are coming up on my todo list

In the meantime, you can use the facade `<Show />` component, like

[code]

or `&&` boolean operator

[code]

Def agree that ternary needs support, will keep this open until added shortly

[2021-07-30 16:38] #118 closed

[2021-08-03 09:40] tompere opened #119 "mitosis fiddle/CLI/local-dev not available in any way"
I'd really like to play with mitosis, but can't find a way to make it work...

1. [interactive fiddle](https://mitosis.builder.io/) is down for the past week.
2. CLI is not working, getting:
[code]
results in:
[code]
3. and the last resort - cloning the project and attempting to install, bootstrap and build fail on different reasons (missing files, `file://..` deps that do not exists, etc.).

any

[2021-08-03 15:07] steve8708 commented on #119
Ah, thanks for catching @tompere ! Had to do a ton of find and replace + refactoring when changing the name to Mitosis - let me look into your issues, and in the meantime using the old names should work

[jsx-lite.builder.io](jsx-lite.builder.io) for the fiddle

[code]

Will leave this open until the issues you mention with the new names are fixed!

[2021-08-03 15:18] steve8708 commented on #119
ok - just updated the mitosis CLI

if you update to the latest

[code]

your command sholud work as expected

[code]

[2021-08-03 15:21] steve8708 commented on #119
also just updated the appropriate DNS record to support mitosis.builder.io for the fiddle as expected - should be live within the next couple hours!

closing out for now, but if anything is still not working here lmk and feel free to reopen

[2021-08-03 15:21] #119 closed

[2021-08-03 15:22] tompere commented on #119
awesome! thanks

[2021-08-03 16:17] steve8708 commented on #116
Hey @0x219 - really appreciate the request! Right now Mitosis is backed by Builder.io - one great way to ensure we continue to thrive and support this project is to look into using Builder.io :D

From what I can tell, most company backed projects don't take open sponsorship (e.g. React, Angular, Next.js, etc) vs independent projects often do (Vue, Webpack, etc)

It may be best for us to follow sui

[2021-08-05 12:03] 0x219 commented on #116
thanks~ 💓

[2021-08-05 14:08] #116 closed

[2021-08-10 21:10] aramay opened #121 "How do I run this project on my local machine?"
When I try `yarn install` in root path - It throughs an error

`error Package "" refers to a non-existing file '"/xxx/xxx/Documents/codesmith-ptri3/core"'.
info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.
Error: Package "eslint-plugin-mitosis" refers to a non-existing file '"/xxx/xxx/Documents/codesmith-ptri3/eslint-plugin"'.
    at MessageError.ExtendableBu

[2021-08-10 22:47] steve8708 commented on #121
hey @aramay - we use npm for this repo instead of yarn, does `npm install` from the root work as expeted?

[2021-08-10 23:20] aramay commented on #121
@steve8708 - Yes, `npm install` works but it fails on `npm run build`

`@builder.io/mitosis-cli: [4:15:28 PM] Projects in this build:
@builder.io/mitosis-cli:     * ../core/tsconfig.json
@builder.io/mitosis-cli:     * tsconfig.json
@builder.io/mitosis-cli: [4:15:28 PM] Project '../core/tsconfig.json' is out of date because output file '../core/dist/src/flow.js' does not exist
@builder.io/mitosis-c

[2021-08-11 19:42] aramay commented on #121
@steve8708 Hello 👋

Any update on this?

[2021-08-11 19:53] aramay commented on #121
Hey @steve8708 - I wanted to startup fiddle `env` on my local machine. If I run `npm run build` inside `packages/core` will that let me bring up the ENV?

[2021-08-11 19:58] aramay commented on #121
npm install fails in `packages/core`
[code]

At this point `npm run build` will not work either
[code]

[2021-08-11 21:33] steve8708 commented on #121
I see - let me break down the steps for you to run the fiddle. Note - you'll want to pull the latest code, I just pushed some changes that should fix some confusion

[code]

we will have some better docs and commands for local development soon, but let me know if this works as expected on the latest code ^

[2021-08-12 00:39] aramay commented on #121
hey @steve8708 - pulled latest changes. However It fails when I run `npm run build` inside `packages/core`

[code]

[2021-08-14 00:27] enidovasku commented on #121
hey @aramay I followed all the steps suggested by @steve8708 and could run the project flawlessly. Could you try a fresh close of the project?

ENV:
MacOS Big Sur
Node v16.4.0

[2021-08-14 20:29] aramay commented on #121
@enidovasku - I'll give this another try.

[2021-08-16 04:55] Manborough opened #124 "props not outputted with componentJson"
Currently component props don't appear to be outputting in the component json.
So a component like this with explicit props.

[code]
Isn't returned in this.

[code]

At least as far as I have found.

[2021-08-17 15:40] steve8708 commented on #124
Hey @Manborough  - as of right now we don't parse the props in any special way. We do though require you to use the conventional name `props` for the component arguments at this time

[code]

they won't show up on the component JSON as we don't know at compile time necessarily what props exist (currently), but we can parse out which are used by finding JS expressions using `props.*`

e.g. you can

[2021-08-18 06:19] Manborough commented on #124
Thanks for the reply @steve8708

I bought it up because I was adapting Mitosis for use with Go's jet template engine and I wanted to list the props in the component that is being outputted and you need to know them all by name.

[code]

For now i've worked around it by using state instead of props, though I suppose I could feed in a struct on the Go end and call it props.

[2021-08-18 06:19] #124 closed

[2021-08-18 15:51] steve8708 commented on #124
@Manborough very cool! Also in case helpful [this function](https://github.com/BuilderIO/mitosis/blob/react-native-stuff/packages/core/src/helpers/get-props.ts#L10:L10) can extract the props used from the tree (as a `Set` of strings representing their names)

You can see how we use it e.g. for [Vue](https://github.com/BuilderIO/jsx-lite/blob/react-native-stuff/packages/core/src/generators/vue.ts#L

[2021-08-20 02:45] tomByrer opened #129 "livecoder confuses React with Mitosis"
For some reason React got into the Mitosis side on left:
![image](https://user-images.githubusercontent.com/1308419/130171060-fa8dafa9-88b6-4665-b7f1-a80390830c75.png)

Brave Win10, private window if that matters

[2021-09-06 19:54] steve8708 commented on #117
Implemented locally, will be merged soon

<img width="1459" alt="Screen Shot 2021-09-06 at 12 54 05 PM" src="https://user-images.githubusercontent.com/844291/132257259-43735a6a-c35c-4374-8da9-a9d36bce9f09.png">

[2021-09-07 01:02] steve8708 commented on #117
Beta support added, if you hit any issues lmk and happy to look into

[2021-09-07 01:02] #117 closed

[2021-09-08 22:59] aramay commented on #121
@steve8708 / @enidovasku
Ok. I've fiddle `ENV` up and running on local machine 🎉

I think the issue was, I was using node version `v14.17.6` and `package.json` has `"node": "12",` in it. That was causing issues.

Thanks for following up, i'll keep you posted.

[2021-09-14 00:58] steve8708 commented on #129
ah yes! that is because we do support a subset of react, and are experimenting with moving to that as the default format for familiarity

will leave this open though as I can see how this could cause confusion and be worth removing 'react' and always using mitosis imports instead

[2021-09-14 15:25] #121 closed

[2021-10-11 17:28] benmccann opened #133 "Migrate to SvelteKit"
Sapper is no longer actively developed and SvelteKit is a much better experience

Migration guide: https://kit.svelte.dev/migrating

[2021-10-22 20:09] mhevery opened #134 "Migrate Mitosis to latest Qwik format"
Currently, Mitosis generates the original prototype version of Qwik. Update the mitosis to generate the latest `qHook` syntax.

- Idea is that this will be compatible with the optimizer. (https://github.com/BuilderIO/qwik/issues/60)
- But should run without optimizer as well.

## Mitosis
- [X] Incorrectly treats `css` binding as `on:s`
- [x] Incorrectly binds `css` instead of `style`

## Builder
-

[2021-10-30 11:30] tomByrer commented on #129
Thanks :)

[2021-11-23 18:27] yhoungdev opened #141 "Not Compiling yo other stack"
#### It doesn't compile the code to other frameworks/ languages when I try to edit mine

[2021-11-23 21:54] steve8708 commented on #141
hey @yhoungdev - could you elaborate on your issue, such as what steps you took and how to reproduce?

[2021-12-02 02:21] SmallStoneSK opened #145 "variable is ignored when compiled into other framework"
Hi, I tried a simple demo as following, but I found the declaration of variable `title` is ignored.

![image](https://user-images.githubusercontent.com/17713870/144345319-40ad2df9-a2a3-43ae-a6cc-2af384cc314c.png)

[2021-12-06 11:35] i-kostyakov opened #146 "Hook onUnMount is ignored"
Hi all!
It's a very interesting project.

And I found a bug. [onUnMount](https://github.com/BuilderIO/mitosis/blob/main/docs/overview.md#onunmount) hook is ignored by code.

[Example](https://mitosis.builder.io/?outputTab=vue&code=import+%7B+useState%2C+onMount%2C+onUnMount+%7D+from+%22%40builder.io%2Fmitosis%22%3B%0A%0Aexport+default+function+MyComponent%28props%29+%7B%0A++const+state+%3D+useStat

[2021-12-07 11:31] Ghostpaid commented on #146
Can I get more information on this

[2021-12-07 13:14] i-kostyakov commented on #146
Yes, of course! What you need?
In linked example we can see onMount and onUnMount on the left side and only mounted (for vue) on the right side.

for others output frameworks result the same

I singled out that on the picture
![image](https://user-images.githubusercontent.com/35257530/145035517-c6888e78-d6a2-448f-abb2-c846240cde44.png)

[2021-12-08 07:51] mtoksen commented on #145
@SmallStoneSK It seems to me that the reason why the `title` variable is ignored is that you didn't set it as a state in Mitosis. It works fine for me when I do it like this:
![image](https://user-images.githubusercontent.com/58517050/145169563-d592b617-a74f-4d1c-b8d0-83d117a5ecf0.png)

[2021-12-08 08:13] SmallStoneSK commented on #145
@mtoksen

Yes, but I think it's not good to set all variables as states. If you create a state, it will be kept in memory until the component instance unmounts.

[2021-12-08 16:18] steve8708 commented on #145
@mtoksen is correct - in order to have parity across frameworks state is required, as not every framework is functional like react (e.g. there is no comparable construct of a variable in the render pipeline for Angular, SolidJS, Vue SFC, etc). you can have variables within functions and getters of course though

[2021-12-08 16:19] steve8708 commented on #145
what we really need here is more eslint rules to warn that this will be ignored, and link to more documentation

on the todo list :)

[2021-12-15 06:41] Mutondi opened #149 "Reverse-Mitosis"
Greetings.

Does anyone know of a good way to go from "framework" code back to mitosis 😁

[2021-12-21 06:31] tomByrer opened #151 "SVG?"
How does one use SVGs as a component in Mitosis please?

I was looking if I needed to use [TrySound's svgo-components](https://github.com/svg/svgo-components/releases/tag/v0.3.0).

TIA

[2021-12-22 02:32] kmmbvnr opened #153 "Samples with SASS"
Hi folks, that  you for very interesting library.

Is there any way to make it works with sass? I'm looking for way to embed css into solid/vue/react/customElement compoments

[2022-01-05 19:05] steve8708 commented on #153
hey @kmmbvnr - Mitosis has no opinion on this per-se, if you create style sheets in any language you can use the classes in Mitosis components as expected, like [this](https://mitosis.builder.io/?outputTab=vue&code=%0A%0Aexport+default+function+MyComponent%28props%29+%7B%0A++return+%3Cdiv+class%3D%22my-sass-class%22%3EHello%21%3C%2Fdiv%3E%3B%0A%7D%0A)

[code]

![image](https://user-images.githubus

[2022-01-21 11:49] jackieyoho opened #161 "webcomponents: how to use [shadow] in mitosis?"

[2022-01-21 15:34] Tymek opened #162 "Example with correct TS lib"
How to configure TS? When creating `<div css={{}} />` I get an error:
`Type '{ children: Element[]; css: { padding: string; }; }' is not assignable to type 'DetailedHTMLProps<HTMLAttributes<HTMLDivElement>, HTMLDivElement>'.
  Property 'css' does not exist on type 'DetailedHTMLProps<HTMLAttributes<HTMLDivElement>, HTMLDivElement>'.`

I tried for example importing this with no effect:
[code]

Maybe

[2022-01-21 16:32] steve8708 commented on #162
hey @Tymek - can you paste your full code file example? it looks like those are the react typings (or similar), so if the imports anything from react those may override the mitosis ones

[2022-01-21 16:44] steve8708 commented on #161
ah yes, not supported currently but that wouldn't be too hard to add - e.g. as an option for `componentToCustomElement`, pull requests welcome!

https://github.com/BuilderIO/mitosis/blob/main/packages/core/src/generators/html.ts#L573

[2022-01-21 17:05] Tymek commented on #162
https://codesandbox.io/s/blissful-paper-4busx?file=/src/testfile.tsx

(wait couple of seconds until TS loads,
![image](https://user-images.githubusercontent.com/2625371/150569297-c0e1ce3e-e869-425e-838d-36724697f596.png)
)

[2022-01-21 17:10] steve8708 commented on #162
Super helpful reproduction, thanks for sharing!

If you remove anything react related from that project, it works as expected: https://codesandbox.io/s/young-rgb-ql03s?file=/src/testfile.tsx

![image](https://user-images.githubusercontent.com/844291/150570060-b768326f-7284-4c92-acaa-d14b347ee7ec.png)

[2022-01-21 17:13] Tymek commented on #162
oh, ok! I get it. `"compilerOptions" > "jsx": "preserve"` 👍🏻

[2022-01-21 17:13] #162 closed

[2022-02-02 05:35] Dhananjay-JSR opened #167 "Will There be an option to use custom library as input in near future ?"
I really want to use some react only UI library on other frameworks too

[2022-02-02 16:21] steve8708 commented on #167
Unfortunately this is unlikely, there are a lot of things you can do in a React library that won't easily parse and compile to other frameworks. Though this would be of HUGE value so I'll leave this open and maybe we can chip away at getting incrementally closer to this goal over time

[2022-02-13 15:58] steve8708 opened #173 "Project Compiling CLI"

[2022-02-13 16:09] steve8708 opened #174 "Eslint rules"
Mitosis needs a decent amount of constraints given the amount of targets it needs to support. This can make for a very clunky DX if you don't get real time feedback on what is allowed vs not

We have started on an eslint plugin [here](https://github.com/BuilderIO/mitosis/tree/main/packages/eslint-plugin) but it could use a lot more checks in it

[2022-02-13 16:11] steve8708 opened #175 "Storybook integration"

[2022-02-13 16:13] steve8708 opened #176 "Docs"
More docs around how to get started, the mental model to have, workflows, and constraints to be mindful of will go a long way to helping people adopt and use this project

[2022-02-14 18:13] #146 closed

[2022-02-16 08:02] PatrickJS commented on #161
maybe something like this?
https://github.com/BuilderIO/mitosis/pull/179/files

[2022-02-18 20:13] sahilmob commented on #174
Is there any reference for those rules, so we know what to implement?

[2022-02-18 23:44] steve8708 commented on #174
@sahilmob ah yes, two things!

This is a great place to start: https://github.com/BuilderIO/mitosis/blob/main/docs/overview.md#gotchas-and-limitations

I also share a bunch of random stuff in here, I hope it is helpful: https://www.loom.com/share/78fe319ab592433aa637d1963e35eff3

[2022-02-19 18:19] sahilmob commented on #174
@steve8708 Thanks for the excellent explaination. It looks exciting and challenging at the same time. I'll start implementing them one by one.

[2022-02-22 10:34] edolix opened #181 "Missing "index" in React output when using "For""
Hey there! This project looks _amazing_ ❤️ !

Trying it out i see that the React output with `For` is missing the `index` argument. See [this test Fiddle](https://mitosis.builder.io/?outputTab=react&code=import+%7B+useState%2C+For+%7D+from+%27%40builder.io%2Fmitosis%27%0A%0Aexport+default+function+List%28%29+%7B%0A++const+state+%3D+useState%28%7B%0A++++myArray%3A+%5B1%2C+2%2C+3%5D%2C%0A++++list%3A

[2022-02-22 15:17] samijaber commented on #181
@edolix Thanks for raising this issue! We have noticed this bug internally as well. I appreciate the simple test-case, that makes it easier to reproduce. 👍🏽

A PR contribution to fix this issue would be welcome if you're feeling up for it!

[2022-02-24 01:22] sramam opened #182 "Are there any plans for `lite.tsx`?"
The project looks really promising.
Wondering if there are plans for `lite.tsx`?

[2022-02-24 14:13] samijaber commented on #182
@sramam I don't fully understand your question. Mitosis is under active development at the moment. What do you mean by "plans for `lite.tsx`"?

[2022-02-24 14:43] sramam commented on #182
I didn't choose my words carefully.
Thanks for taking the time to respond despite my failings.

There are two issues that would be really cool to have:
1. types for the props and state.
2. ability to add code within the component (with the implicit assumption that they maintain the purity of the parent component)

The code segment below demonstrates both these and is not valid JSXLite today.
[code

[2022-02-24 16:53] steve8708 commented on #182
hey @sramam - you can have local functions, you can do [this](https://mitosis.builder.io/?outputTab=vue&code=import+%7B+useState+%7D+from+%22%40builder.io%2Fmitosis%22%3B%0A%0A%0Aexport+default+function+MyComponent%28props%29+%7B%0A++const+%5Bname%2C+setName%5D+%3D+useState%28%22%22%29%3B%0A%0A++function+delay%28fn%29+%7B%0A++++setTimeout%28fn%2C+1000%29%3B%0A++%7D%0A%0A++function+getName%28%29+%7

[2022-02-24 17:53] sramam commented on #182
ah. I missed that on the first blush. Thank you.
Any plans for adding types?

[2022-02-24 18:01] steve8708 commented on #182
ah ya sorry [types are all good](https://mitosis.builder.io/?outputTab=vue&code=import+%7B+useState+%7D+from+%22%40builder.io%2Fmitosis%22%3B%0A%0Atype+Props+%3D+%7B%0A++name%3A+String%3B%0A%7D%0A%0Aexport+default+function+MyComponent%28props%3A+Props%29+%7B%0A++const+%5Bname%2C+setName%5D+%3D+useState%28%22%22%29%3B%0A%0A++function+delay%28fn%29+%7B%0A++++setTimeout%28fn%2C+1000%29%3B%0A++%7D%0A%

[2022-02-24 18:02] steve8708 commented on #182
also our fault for lack of docs :D - is on our roadmap to flesh out more

[2022-02-24 18:07] sramam commented on #182
Oh wow! that is so cool!

The red squigglies on the left side threw me off and I didn't think it through.
The transpilation output is js, so should not have expected types there.

Will be exploring using mitosis (a bit too excitedly for my own good!)

Nice work!

[2022-02-24 18:13] steve8708 commented on #182
Great to hear @sramam !

[2022-02-24 18:13] #182 closed

[2022-02-24 18:14] steve8708 opened #183 "Fix the fiddle to support Typescript types"
We support TSX, yet the Fiddle puts little red squiggles on the fiddle code editor suggesting types are not supported. It may be as simple as specifying the language as "TSX" instead of "JSX" for the code editor

[2022-02-24 18:14] steve8708 commented on #182
Also, if you are interested in contributing, this could be a great contribution to make! https://github.com/BuilderIO/mitosis/issues/183#issue-1149596537

[2022-02-24 18:17] steve8708 commented on #183
Looking at the code, it seems we are passing `language="typescript"` to [Monaco](https://github.com/BuilderIO/mitosis/blob/main/packages/fiddle/src/components/CodeEditor.tsx#L138), but perhaps the highlights are coming from eslint, it appears we are [not telling eslint that this is typescript](https://github.com/BuilderIO/mitosis/blob/main/packages/fiddle/src/components/CodeEditor.tsx#L68-L73) but

[2022-02-24 20:52] sramam commented on #183
two questions:

## `yarn start` errors:
[code]
Throws this error on the console

[code]

And I am seeing pref_hooks and process not found errors in the console.

## Is this the piece of code to modify?
I actually haven't configured a monaco editor before - wondering if [this is the right place](https://github.com/sramam/mitosis/blob/main/packages/fiddle/src/components/CodeEditor.tsx#L39) to make a

[2022-02-24 20:56] steve8708 commented on #183
awesome. apologies for us having poor docs on how to get started. try this:

[code]

re: is that the code to modify, definitely worth a try!

[2022-02-24 20:59] sramam commented on #183
Ah.

Sorry - I'm full of complaints today - Another [thing to fix then](https://github.com/BuilderIO/mitosis/blob/main/package.json#L9)

[2022-02-24 21:00] steve8708 commented on #183
ha! great catch. would be great to include deleting that in a PR

[2022-02-24 21:02] sramam commented on #183
[code]

[2022-02-24 21:03] sramam commented on #183
[code]

[2022-02-24 21:13] steve8708 commented on #183
ah we should add an nvmrc file and versions stuff. thanks for baring with us as we make these improvements. I currently use

[code]

can you try with those?

[2022-02-27 06:06] JLarky opened #186 "Mitosis refs do not work when you compile to Vue"
I tried to run your "Methods and Refs" example code on playground [the link](https://mitosis.builder.io/?outputTab=vue&code=import+%7B+useState%2C+useRef+%7D+from+%22%40builder.io%2Fmitosis%22%3B%0A%0Aexport+default+function+MyComponent%28props%29+%7B%0A++const+%5Bname%2C+setName%5D+%3D+useState%28%22Steve%22%29%3B%0A%0A++function+onBlur%28%29+%7B%0A++++%2F%2F+Maintain+focus%0A++++inputRef.current

[2022-03-02 11:49] mindplay-dk opened #187 "Component per file pattern"
I was wondering, what's the reason for choosing the "react-style" source code layout of components - as opposed to a more Svelte-like code layout, where every file is implicitly a component that can be instantiated?

To illustrate what I mean - taking this example:

[code]

You could instead have something like:

[code]

Obviously this isn't meaningful Typescript on it's own - this pattern assumes

[2022-03-03 12:52] peterszerzo opened #189 "Using props in web components"
I wonder how props can be used in web components, as the following code:

[code]

currently compiles to this:

[code]

I would expect for either HTML attributes or properties to reflect/update the rendered HTML inside the custom element, as in either of these snippets:

[code]

or

[code]

to make component updates, but the compiled implementation does not make this happen. Am I missing something

[2022-03-03 21:06] sahilmob commented on #186
@steve8708 Looks like this needs to be changed to `inputRef.blur()` instead of `inputRef.current.blur()` for all frameworks/libraries other than React.

[2022-03-03 21:30] steve8708 commented on #186
ah, yes! looking deeper, it's actually the example code that is broken. mitosis refs don't expect you to use .current, and instead adds that for react specifically. I can send PR for this

currently refs are unhandled for HTML output, so will need to add support for that separately

[2022-03-03 21:36] sahilmob commented on #186
If that's the case, we should consider adding an eslint rule for it.

[2022-03-03 22:23] steve8708 commented on #186
@sahilmob great idea!

[2022-03-03 22:31] steve8708 commented on #187
For future readers: one thing this really helps solve is understanding that:

1. Mitosis is not react
2. Mitosis is static, declarative, and each file can only have one component. There are currently a lot of gotchas if you treat mitosis like react and try to add all kind of random variable declarations, multiple components in a file, etc which this helps make the rules more intuitive in clear

[2022-03-04 16:33] steve8708 commented on #189
Hey @peterszerzo - that is absolutely welcome!

[2022-03-10 04:40] Harkunwar commented on #175
I'd love to contribute to the Mitosis project and this seems like something I can look into.

[2022-03-10 14:17] steve8708 commented on #175
That would be amazing @Harkunwar!

[2022-03-10 15:55] steve8708 commented on #175
I will go ahead and assign this to you here @Harkunwar - if you find we should change that (other obligations arise, etc) just lmk

[2022-03-10 18:29] Harkunwar commented on #175
Thank you @steve8708! Can I add you on discord, I was having some setup issues with the repo. Also wanted to chat about the possible design for this.

[2022-03-10 18:32] steve8708 commented on #175
Absolutely! I'm `steve8708` on discord and we also have a server with a Mitosis channel [here](https://discord.gg/QPJuae9Ryc)

[2022-03-11 14:18] #181 closed

[2022-03-11 18:47] samijaber opened #199 "Support reading generator options from `mitosis.config.js` in `mitosis compile`"
Similar to how `mitosis build` works: it imports `getMitosisConfig()` and then override defaults:

https://github.com/BuilderIO/mitosis/blob/76bcc9732e213b7e736ee05117e66b5c40c8e787/packages/cli/src/commands/build.ts#L9
https://github.com/BuilderIO/mitosis/blob/76bcc9732e213b7e736ee05117e66b5c40c8e787/packages/cli/src/build/build.ts#L28-L55

Place to apply changes for `mitosis compile`:

https://g

[2022-03-11 18:54] samijaber opened #200 "`mitosis build`: support `customElement` and `webcomponents` targets"

[2022-03-12 06:04] dcerniglia commented on #176
I would like to help with docs.

[2022-03-14 21:14] alujs commented on #200
I'll take this on.

[2022-03-14 22:27] sachinraja opened #206 "innerHTML broken for some frameworks"
[Reproduction](
https://mitosis.builder.io/?outputTab=react&code=export+default+function+MyComponent%28props%29+%7B%0A++return+%28%0A++++%3Cdiv+innerHTML%3D%7B%27%3Cp+class%3D%22text-lg%22%3E%3C%2Fp%3E%27%7D%3E%0A++++++Hello%21+I+can+run+in+React%2C+Vue%2C+Solid%2C+or+Liquid%21%0A++++%3C%2Fdiv%3E%0A++%29%3B%0A%7D)

For React, React Native, Vue, and Angular there are two sets of quotes.

For Svelte

[2022-03-14 23:07] samijaber commented on #206
Thanks for raising this bug @sachinraja 🙏🏽.

If you (or anyone else) are interested in contributing a fix for this, here is some context pointing out how to do so:

Here is where `innerHTML` is handled in the react generator:

https://github.com/BuilderIO/mitosis/blob/85ed03dd886ffe258974dda619c313eff9893354/packages/core/src/generators/react.ts#L90-L99

All that needs to be done is adjust the log

[2022-03-15 19:49] alujs commented on #199
I'll take this.

[2022-03-15 20:58] ja-rivas opened #208 "Custom Elements: Properties with dashes in their name"
**Describe the bug**
When compiling to custom elements, if an element property is bind to a variable and that property name has dashes, the binding fails because the property name is incorrectly used in the `el.setAttribute` method.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a jsx mitosis file that has a binding to a property with dashes. For example:
[code]
2. Compile the mitosi

[2022-03-15 21:14] ja-rivas opened #209 "Custom Elements: disconnectedCallback doesn't appear"
**Describe the bug**
The custom element function `disconnectedCallback` doesn't appear in the generated file (custom element) even though the `onUnMount` hook is used.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a mitosis file and add the onUnMount hook.
2. Compile it to customElement.
3. Note that the disconnectedCallback method is missing.

Fiddle link: https://mitosis.builder.i

[2022-03-15 21:24] ja-rivas opened #210 "Custom Elements: Missing imports from the mitosis file"
**Describe the bug**
The imports that are used in the original mitosis file aren't moved to the generated file when compiling to `customElement`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a mitosis file that has imports at the top of the file (e.g. importing constants, functions, etc. from another file).
2. Compile it to a customElement.
3. Note that the imports are missing in t

[2022-03-15 21:28] steve8708 commented on #210
Ah great catch - to solve thise you will want to add `renderPreComponent(json)` like [this](https://github.com/BuilderIO/mitosis/blob/main/packages/core/src/generators/react.ts#L543) over [here](https://github.com/BuilderIO/mitosis/blob/main/packages/core/src/generators/html.ts#L615)

[2022-03-15 21:30] steve8708 commented on #208
In case helpful: [here](https://github.com/BuilderIO/mitosis/blob/main/packages/core/src/generators/html.ts#L303:L303) is probably where to look for the fix

[2022-03-15 21:41] steve8708 commented on #209
great catch - looking at the code it looks right, I wonder if our fiddle is out of date. taking a look

[2022-03-15 21:41] samijaber opened #211 "CHORE: include Fiddle build in CI"
Our fiddle package is not being built in CI, which allows breaking code to get merged into `main`. We should include it as a build step in the `pr_runner` git CI action

[2022-03-15 21:49] steve8708 commented on #209
yeah confirmed fiddle was just out of date - just released the latest version which should be live in about 10 mins when cache clears that looks to be working as desired:

<img width="1459" alt="image" src="https://user-images.githubusercontent.com/844291/158478407-04cf90a5-d6b3-4803-90e7-5269675caa55.png">

[2022-03-15 21:49] #209 closed

[2022-03-15 21:53] samijaber opened #214 "CHORE: release eslint-plugin"

[2022-03-15 21:54] ja-rivas opened #215 "Custom Elements: Updating element class"
**Describe the bug**
The class of an element isn't updated correctly when generating a customElement. Inside the `update` method, the class is updated using the `el.class` property instead of `el.className`. For example:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a mitosis file in which an element class's value depends on a variable (e.g. `<div class={backgroundClass}>`).

[2022-03-15 22:02] samijaber opened #216 "CHORE: inconsistent Prettier config"
Our prettier config is inconsistent across the monorepo. We have different versions installed in core, cli and the root. This is causing contributors' code editors to `formatOnSave` in an incorrect way, which breaks CI and forces them to run the command again before being able to merge.

Steps to reproduce:

1. edit and save a file in `packages/core` or `packages/cli` (using VSCode or some other e

[2022-03-15 22:06] steve8708 commented on #215
great catch, simplest fix is likely to update [this](https://github.com/BuilderIO/jsx-lite/blob/fix-unmount-hook/packages/core/src/generators/html.ts#L304:L304)

to be

[code]

[2022-03-15 23:35] PatrickJS commented on #167
You would need a react to mitosis json then you can mitosis to any framework

[2022-03-16 16:05] sahilmob commented on #174
Part 1 just got merged yesterday, and I'm currently working on part2.

[2022-03-16 17:09] crickkills opened #217 "Visual Editor VSCode Plugin renames existing export default function to MyComponent when editing Mitosis JSX file"
**Describe the bug**
I am using the Visual Editor [VSCode plugin](https://github.com/builderio/vscode) to convert a Mitosis JSX file. If I set the main export default function name to "Button", the output code continues to use the default function name "MyComponent" instead of "Button". If I copy+paste the same source code in the live Mitosis Fiddle, the main function name is updated to use "Butto

[2022-03-16 18:44] alujs commented on #206
I can take this.

[2022-03-16 20:25] samijaber commented on #217
Hey @crickkills! Given current resource constraints, we are not actively developing/maintaining our VSCode plugin, so it is staying in an `alpha` state for a while longer.

I would recommend you setup a dev environment that does not require the VSCode plugin to iterate on your Mitosis components. Using `react` as an example target:
- have a `watch mitosis build` command that builds your Mitosis co

[2022-03-17 21:17] alujs commented on #199
Putting a temporary hold on this, I'll pick it back up if it still hasn't been taken.

[2022-03-18 16:44] tomByrer commented on #186
I think I need to use refs for Web Animation API, since the plain HTML usage is via element method?

https://developer.mozilla.org/en-US/docs/Web/API/Element/animate#examples

[2022-03-18 21:16] samijaber opened #228 "Feature matrix"
We currently do not have feature parity across all frameworks. We should put together a simple feature matrix, where each column is a `target` (Angular, React, React-Native, Vue, etc.), and each row is a feature.

For now, a simple labelling system would work:
 🏗 in-progress/partially implemented
❌ not implemented
✅ implemented

Here is a non-comprehensive example list of rows:
- lifecycle methods

[2022-03-18 22:01] samijaber opened #229 "Conventional Logging + Semantic Release"
Setup conventional logging / semantic release so that:

- changelogs are automatically generated
- new NPM package versions are automatically published on each merge

[2022-03-18 22:02] #216 closed

[2022-03-21 17:10] samijaber opened #232 "HTML export does not support getters"
**Describe the bug**
Infinite loop when trying to use getter methods in `useState` and exporting to HTML

**To Reproduce**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
infinitely loops with the following error:
<img width="546" alt="image" src="https://user-images.githubusercontent.com/1393142/159326670-9179438b-eda2-401f-9e18-a28fe

[2022-03-21 19:35] markhughes commented on #141
@yhoungdev could you put your code into a github repo for us to see? This way we can understand the issue and help :)

[2022-03-21 21:25] samijaber opened #233 "Custom Elements: support attaching to shadow DOM"
Add a feature that can be toggled (e.g. hidden behind a metadata attribute) that will attach a custom element's content to a shadow DOM instead of its `innerHtml`.

[2022-03-22 15:39] samijaber opened #236 "Fiddle does not build locally"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. `npm run setup` at the root
2. go to `packages/fiddle`
3. either run `npm run start`, or `npm run build && npx serve -s build`

**Expected behavior**
Fiddle working properly

**Screenshots**
<img width="693" alt="image" src="https://user-images.githubusercontent.com/139314

[2022-03-22 19:59] samijaber opened #239 "Upgrade to yarn 3 + Node 16"
We are currently using Node v14, npm v7 and Lerna v3.

We've wanted to upgrade to yarn3 but encountered some issues.

Whoever grabs this needs to make sure all the following works:
- locally, running `yarn run build`/`yarn run start` in every sub-package should work without issues (we had problems running `yarn run build` in `packages/core`)
- CI should pass

This task might be related to #211 and

[2022-03-22 21:41] sachinraja commented on #239
Awesome, should definitely be possible. I'll take this up.

[2022-03-23 04:17] PatrickJS commented on #187
after thinking this over for a week I'm of the mindset that Mitosis 100% needs to follow React patterns as much as it can.

The reason is that people don't want to use anything other than react right now because of the ecosystem. New hires know react. College students know React. everyone knows React's API. Anything react-style should be supposed and converted to other frameworks.

Doing so will a

[2022-03-23 04:28] PatrickJS commented on #145
I think this should be supported. I think the goal is better just to have anyone familiar with react api to easily create components for every framework

[2022-03-23 19:26] #211 closed

[2022-03-23 20:42] samijaber commented on #174
@sahilmob are there any other eslint rules on your list to get in? If not, I'm happy to close this issue as you've created an amazing amount already :)

[2022-03-23 20:43] samijaber commented on #176
@dcerniglia If you are still interested, here is a sub-task of the Docs issue we have that we need to work on: #228

[2022-03-23 20:47] sahilmob commented on #174
@samijaber I think that I've covered all the cases that Steve provided, so feel free to close this issue. 🚀 🚀 🚀

[2022-03-23 21:39] #174 closed

[2022-03-23 21:39] samijaber commented on #174
Closed by #180  and #218

[2022-03-23 21:42] samijaber opened #241 "Components can only have 1 of each hook"
**Describe the bug**
If there are multiple `onUpdate` hooks, only the last one will be persisted. The rest are omitted

**To Reproduce**
If possible, a link to a https://mitosis.builder.io/ fiddle containing the bug: [fiddle](https://mitosis.builder.io/?outputTab=react&code=import+%7B+useState%2C+onUpdate+%7D+from+%22%40builder.io%2Fmitosis%22%3B%0A%0Aexport+default+function+MyComponent%28props%29

[2022-03-23 21:44] samijaber opened #242 "Vue: onUpdate does not account for dependencies"
**Describe the bug**
See title

**To Reproduce**
If possible, a link to a https://mitosis.builder.io/ fiddle containing the bug: [fiddle](https://mitosis.builder.io/?outputTab=vue&code=import+%7B+useState%2C+onUpdate+%7D+from+%22%40builder.io%2Fmitosis%22%3B%0A%0Aexport+default+function+MyComponent%28props%29+%7B%0A++const+%5Bname%2C+setName%5D+%3D+useState%28%22Steve%22%29%3B%0A++const+%5Banother

[2022-03-24 19:26] mindplay-dk commented on #187
I wasn't proposing this syntax *replace* the existing syntax.

Mitosis has multiple output formats - no reason it couldn't have multiple input formats as well.

[2022-03-24 20:16] steve8708 commented on #187
agreed @PatrickJS 100%. this was the initial motivation and this is really helpful validation. and agreed with you too @mindplay-dk - we can absolutely have multiple syntaxes, just at the cost of documentation etc needing to show multiple ways of doing things

so something we can absolutely explore in the future, noting the tradeoffs

[2022-03-24 20:28] PatrickJS commented on #187
I think its better to lower the scope of mitosis. So going the babel route.

Mitosis provides a as much info on a mitosis file (the json file) and the dev can use that to generate the correct file(s). Mitosis can provide their own versions of each one framework as examples. And mitosis can talk about tradeoffs etc. This will allow the dev to have full control over the output conventions to fit the

[2022-03-25 12:40] mindplay-dk commented on #187
Mitosis already accepts it's own middle layer JSON format as input - so it's also not inconceivable that alternative syntaxes could be built as separate programs that emit JSON with this schema.

I don't know how stable the JSON format is though.

It's also no clear to me how feature-complete Mitosis as a whole is at this stage.

Building something that has to chase after Mitosis for every breakin

[2022-03-26 18:35] sahilmob commented on #241
I'll take this one

[2022-03-28 07:05] PatrickJS commented on #187
I think we're on the same page because everything you said is exactly why I made my point about React.

The issue is the direction/goals of mitosis is not clear and I would prefer it to be more practical rather than idealistic. The idea of having a Universal Component is not new and many people have tried in the past and each with different approaches. The latest one being from chrome itself via w

[2022-03-28 21:03] samijaber opened #250 "Comments within `useState` block cause crash"
**Describe the bug**
comments right above _function_ declarations in `useState` cause endless loop/crash in Mitosis

**To Reproduce**
<img width="1920" alt="image" src="https://user-images.githubusercontent.com/1393142/160486630-a4c0cf5d-4de8-4178-ac7c-ad77ebe2d560.png">
[code]

If possible, a link to a https://mitosis.builder.io/ fiddle containing the bug: Fiddle causes infinite loop, so I put a

[2022-03-29 14:19] samijaber opened #251 "Vue: state methods cannot have underscore in name"
**Describe the bug**
mitosis crashes/hangs when functions have underscores in their names

**To Reproduce**
[code]

**Additional context**
This is due to the call to https://github.com/BuilderIO/mitosis/blob/b60f2e475f618bcc6068ca0098be99cbe46e47ff/packages/core/src/helpers/babel-transform.ts#L29 within `replaceIdentifiers` , within https://github.com/BuilderIO/mitosis/blob/b60f2e475f618bcc6068ca0

[2022-03-29 21:05] sahilmob commented on #199
I would love to work on this task if nobody is currently on it!

I noticed that `getMitosisConfig` returns:
[code]
however, the type of the command-line arguments object for the `compile` command is `GluegunParameters.options`.
How will we map/merge these two, and which one will take higher precedence?

[2022-03-29 21:29] #241 closed

[2022-03-30 18:24] alujs opened #253 "Web Components: Bindings are being updated before onMount"
When writing Mitosis and compiling it to web components, there is a possibility of the bindings not being updated because the querySelectors run before the user injected onUpdate code runs.

[2022-03-30 18:28] alujs commented on #253
I am working on this currently.

[2022-03-30 19:13] alujs opened #255 "webcomponent: Show/For span tags interfere with accessibility and styling"
Here's a sample output of the span tags:

Add any other context about the problem here.](https://mitosis.builder.io/?outputTab=webcomponents&code=import+%7B+useState+%7D+from+%22%40builder.io%2Fmitosis%22%3B%0A%0Aexport+default+function+MyComponent%28props%29+%7B%0A%0A++const+state+%3D+useState%28%7B%0A++++myArray%3A+%5B1%2C+2%2C+3%5D%2C%0A++++name%3A+%22Steve%22%2C%0A++++updateName%28newName%29+%

[2022-03-30 19:27] #239 closed

[2022-03-30 19:32] samijaber commented on #253
#254

[2022-03-30 19:32] #253 closed

[2022-04-01 19:30] alujs opened #260 "Mitosis => Angular: Duplicated props"
The variable `name` is declared once as an Input and then again as a class variable.

Add any other context about the problem here.](https://mitosis.builder.io/?outputTab=angular&code=import+%7B+useState%2C+onMount+%7D+from+%27%40builder.io%2Fmitosis%27%3B%0A%0Aexport+default+function+ThrowAwayButton%28props%29+%7B%0A++const+state+%3D+useState%28%7B+name%3A+%22%22+%7D%29%3B%0A%0A++onMount%28%28%29

[2022-04-01 19:36] samijaber commented on #260
Isn't that because you have both a prop and a state with the same name? To illustrate, here's the output if you name them differently: [fiddle](https://mitosis.builder.io/?outputTab=angular&code=import+%7B+useState%2C+onMount+%7D+from+%27%40builder.io%2Fmitosis%27%3B%0A%0Aexport+default+function+ThrowAwayButton%28props%29+%7B%0A++const+state+%3D+useState%28%7B+nameInState%3A+%22%22+%7D%29%3B%0A%0A

[2022-04-01 19:39] alujs commented on #260
You're right, this should be handled by the linter, closing this.

[2022-04-01 19:39] #260 closed

[2022-04-01 21:08] samijaber opened #261 "Fiddle: parsing errors cause tab to crash and retry infinitely"
**Describe the bug**
write invalid code that can't be properly parsed by Mitosis in mitosis.builder.io

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
<img width="337" alt="image" src="https://user-images.githubusercontent.com/1393142/161341514-750688b5-d297-4bea-9ade-d7445e38f916.png">

**Additional context**
we probably need some better err

[2022-04-03 18:32] sahilmob commented on #199
To my understanding, this sounds like reading generator options from `mitosis.config.js` and then overriding `generatorOpts` (if they do exist). Am I right?

[code]

[2022-04-04 14:01] samijaber commented on #199
@sahilmob correct. `...generatorOptions` would be the first line though, since you typically want anything passed as a command-line flag to override what's in a config file. Looks good otherwise 👍🏽

[2022-04-04 19:18] lindamacdonald opened #263 "I LOVE MITOSIS this HAS to be the best upgrade in builder ever!!!"
I LOVE MITOSIS this HAS to be the best upgrade in builder ever!!! Just noticed it and I think it is absolutely fantastic!!!! how do I integrate figma?

[2022-04-04 19:48] samijaber commented on #263
@lindamacdonald What do you mean by "integrate figma"?

[2022-04-05 13:19] #199 closed

[2022-04-06 00:40] samijaber opened #267 "Forbid or support aliased imports in TS"
Here is an example:
https://github.com/BuilderIO/mitosis/pull/266/files#diff-d77df8a4086c893b4cd3954952a7598b6f85dcab3ef5f5a7116c30ba589b467eL13

If we import a function like this:

[code]

TS and our local env & CI won't complain.

However, our production build will actually break. We need the import to be a relative path.

We need to either:
- disable `baseUrl` imports in our TS Config
- make su

[2022-04-06 15:06] ja-rivas opened #268 "Custom Elements: Using a list item in an event handler"
**Describe the bug**
An error happens at run time when using the Mitosis's For to iterate through a list and using its items in an event handler. This occurs when generating a Custom Element/Web component.

**To Reproduce**
Steps to reproduce the behavior:
1. Use a For to iterate a list.
2. Add an event handler inside the For that uses the list items (e.g. `onClick={(event) => onItemClick(event, i

[2022-04-07 14:48] samijaber commented on #268
Thanks for raising this. I think one approach to fix it might be to change the event handlers' signatures so it's:

[code]

Here is the code responsible for generating all this code:

https://github.com/BuilderIO/mitosis/blob/46f609b8d6298c7cbeea73a5420f86311978c129/packages/core/src/generators/html.ts#L291-L312

Changing Lines 295-296 so they're more like:

[code]

And then changing lines 308-309

[2022-04-08 06:29] alujs opened #272 "Mitosis {props.children} creates <ng-slot> on Angular which does not exist"
https://mitosis.builder.io/?outputTab=angular&code=import+%7B+useState+%7D+from+%27%40builder.io%2Fmitosis%27%3B%0A%0Aexport+default+function+Checkbox%28props%29+%7B%0A%0A++function+getValue%28%29+%7B%0A++++return+props.isChecked%3B%0A++%7D%0A%0A++function+setValue%28value%29+%7B%0A++++props.isChecked+%3D+value%3B%0A++++props.onChange%28value%29%3B%0A++++props.onTouched%28%29%3B%0A++%7D%0A%0A++fun

[2022-04-08 17:39] samijaber commented on #272
Fixed by #273

[2022-04-08 17:42] samijaber opened #275 "Support multiple children props"
There is currently no way to support multiple children, as in this example from the React docs: https://reactjs.org/docs/composition-vs-inheritance.html

[code]

[fiddle link](https://mitosis.builder.io/?outputTab=vue&code=export+default+function+MyComponent%28props%29+%7B%0A++return+%28%0A++++%3CFancyBorder+color%3D%22blue%22%3E%0A++++++%3Ch1+className%3D%22Dialog-title%22%3E%0A++++++++%7Bprops.t

[2022-04-08 18:13] steve8708 commented on #275
I think to support this we will need to have a first class feature in Mitosis around Slots. Since React is more flexible as to what you can do compared to other frameworks, we'll need to design an implementation in Mitosis that is easy to use and can support all of our output targets, even the most constraining of them. tmk `slot`, like used in most non-react frameworks, is the most common convent

[2022-04-08 18:54] samijaber opened #277 "ESLint: `css-no-vars` allows state.var"
`css-no-vars` does not consider this snippet invalid:

[code]

see:

<img width="876" alt="image" src="https://user-images.githubusercontent.com/1393142/162503969-0c3bb882-ad74-405a-b340-1e4df85b822a.png">

[2022-04-08 19:09] samijaber commented on #277
cc @sahilmob , mentioning you since you've written the code for it

[2022-04-09 17:30] christiankozalla commented on #149
I think, this question is in the same vein as my question:

Suppose I have an existing component-library written in React, that I want to be the single source of truth and generate output in Vue from. Is Mitosis suitable for my use-case? React => Mitosis => Vue

Big thanks in advance!

[2022-04-11 15:44] #277 closed

[2022-04-12 14:27] samijaber commented on #149
Mitosis's scope is (at least currently) focused only on _outputting_ web framework code.

Parsing framework code is a separate task/undertaking, and a rather complex one given that we have zero control over how folks build their React/Angular/Vue/etc. components.

Mitosis was made to be your single source of truth! For your use-case, I would suggest that you perform a one-time manual migration fro

[2022-04-12 14:31] samijaber opened #279 "ESLint rules: shareable recommended config"
It would be great to have a "recommended" shareable config like how other popular ESLint rule plugins do. That would make it a lot easier to adopt the rules automatically (vs. enabling one by one).

https://eslint.org/docs/developer-guide/shareable-configs#creating-a-shareable-config

also, adding `recommended: true` to appropriate rules (which should be all of them in our case, since they are all

[2022-04-12 20:46] samijaber opened #280 "Mitosis does not always accurately delete old files"
Ran into a tricky bug the other day. Had a file `src/helpers/foo.ts`, and moved it to `src/helpers/foo/index.ts` to be able to add helpers. Unfortunately, the `clean()` function will only delete outputs that match the _current_ list of existing files. Since there was no longer a `src/helpers/foo.ts`, `clean()` did not attempt to delete it.

We don't want to blindly delete the entire output dir. We

[2022-04-13 12:40] akrabdev commented on #279
can I pick this one up?

[2022-04-13 13:25] samijaber commented on #279
@akrabdev You most certainly can! I'll assign you. Let me know if you have any questions around how we've got it setup, but it's a fairly straightforward ESLint plugin codebase.

[2022-04-13 19:45] samijaber opened #281 "Certain CSS properties are missing from output styles"
**Describe the bug**
`alignItems` is missing from all outputs.

**To Reproduce**

If possible, a link to a https://mitosis.builder.io/ fiddle containing the bug: [link](https://mitosis.builder.io/?outputTab=svelte&code=export+default+function+Component%28props%29+%7B%0A++return+%28%0A++++%3Cdiv%0A++++++css%3D%7B%7B%0A++++++++display%3A+%27flex%27%2C%0A++++++++alignItems%3A+%27stretch%27%2C%0A+++++

[2022-04-13 19:49] samijaber opened #282 "Duplicate `class` attributes in output"
**Describe the bug**
In Vue, React, Svelte (& possible others), there are duplicate `className` attributes _if_ we provide a `class` value & a non-empty `css` prop.

**To Reproduce**
If possible, a link to a https://mitosis.builder.io/ fiddle containing the bug: [link](https://mitosis.builder.io/?outputTab=svelte&code=export+default+function+Component%28props%29+%7B%0A++return+%28%0A++++%3Cdiv%0A+

[2022-04-13 20:10] codercatdev opened #283 "CLI for react defaults to mobx"
Repo: https://github.com/codercatdev/mitosis-example

Video Exmaple: https://youtu.be/fFjzpB3JkwU

I would expect this to default to reacts own state `useState`
[code]

[2022-04-13 22:13] akrabdev commented on #279
Thank you @samijaber!

Confirming that all our ESLint rules have `recommended: true`

Also for having shareable config, tell me more about your goal in mind is it for example  creating a  standalone npm package in `mitosis/packages/` ex: `eslint-config-mitosis` ?

[2022-04-14 13:27] samijaber commented on #279
I was hoping we'd be able to store the shareable config in the same package as the rules themselves, similar to how it's done in this typescript-eslint package: https://github.com/typescript-eslint/typescript-eslint/tree/main/packages/eslint-plugin/src/configs

You will see that it is being exported here in the same eslint package: https://github.com/typescript-eslint/typescript-eslint/blob/18a81c

[2022-04-14 15:00] WebReflection opened #284 "webcomponents: unnecessary wrappers"
**Describe the bug**
[The outcome](https://mitosis.builder.io/?outputTab=webcomponents) produces a `builder-component` which wouldn't exist in the React counterpart, meaning that each component will result in DOM bloat for no reason, nor benefits.

**To Reproduce**
Steps to reproduce the behavior:
1. visit [this demo example](https://mitosis.builder.io/?outputTab=webcomponents)
2. inspect the DOM

[2022-04-14 15:04] WebReflection opened #285 "webcomponents: unnecessary listeners oprations"
**Describe the bug**
[The update() logic](https://mitosis.builder.io/?outputTab=webcomponents) remove and add the very same listener for no gain/reason whatsoever.

**To Reproduce**
Steps to reproduce the behavior:
1. visit [this demo page](https://mitosis.builder.io/?outputTab=webcomponents)
2. note the following code as output:

[code]

**Expected behavior**
Adding twice the very same listener d

[2022-04-14 16:13] akrabdev commented on #279
Thank you for the clarification! Wanted to make sure we are on the same page. The example you provided should be extremely helpful too.

[2022-04-14 19:03] samijaber opened #286 "React: innerHTML does not inject variables"
**Describe the bug**
`innerHTML={state.name}` is stringified as the HTML string "name" instead of referring to the variable:

[code]

**To Reproduce**
If possible, a link to a https://mitosis.builder.io/ fiddle containing the bug: [link](https://mitosis.builder.io/?outputTab=react&code=import+%7B+useState+%7D+from+%27%40builder.io%2Fmitosis%27%3B%0A%0Aexport+default+function+MyComponent%28props%29

[2022-04-14 19:50] steve8708 commented on #285
There is a reason for this that isn’t well represented in this example. More just adding this note for if anyone wants to tackle this lmk and I can give more detail of the things to know before making changes so the cases where this is needed can be addressed

[2022-04-14 19:53] steve8708 commented on #284
When you say “inspect the dom”, are you referring to the builder preview? The preview uses a <builder-component> wrapper just for the visual editor to work. It should not be in the mitosis generated code unless I am mistaken and you can point us to where the mitosis output code includes this

[2022-04-14 19:57] steve8708 commented on #285
To clarify though I do agree in this example those are not needed. The necessity comes in when you use loops in the dom, in the current webcomponent output we don’t do digging and wipe and recreate nodes, which creates the need to rebind event listeners

the two obvious solutions here would be to implement diffing directly, but that would defeat the purpose a bit of not having additional dependent

[2022-04-15 05:48] WebReflection commented on #284
@steve8708 when I say inspect the DOM I mean with devtools DOM inspector, but it's trivial to understand the output will have a `<builder-component>` element and that cannot possibly work [in cases like this one](https://codepen.io/WebReflection/pen/GRyYvVm?editors=0010).

You cannot translate React into Custom Elements wrappers, because not all elements can be wrapped, and wrapping creates unnece

[2022-04-15 05:56] WebReflection commented on #285
I am not sure I understand what re-bindings mean here, but if it's about the runtime assigned methods in the constructor (slow) I'd like to remind you there are better ways to don't bloat the RAM and use just the component itself as event listener, without needing to bloat the constructor neither, sharing same prototype, example:

[code]

Maybe [this post helps more](https://webreflection.medium.c

[2022-04-15 12:37] steve8708 commented on #285
Ah, this example explains things really well and is a great idea. Pull request would be very welcomed!

[2022-04-15 13:48] WebReflection commented on #285
I'd love to contribute but I need everyone to be aligned around [this topic/issue](https://github.com/BuilderIO/mitosis/issues/284) as that would influence everything else, in terms of outcome, and this fix itself wouldn't solve, or work, if that issue is not addressed.

[2022-04-15 13:50] steve8708 commented on #284
Hey @WebReflection I still think there is some confusion here. When editing visually with Builder.io, we rap the editable region in a <builder-component>. But Mitosis will never output code to have this (that I know of). I am guessing you are inspecting the dom in that preview iframe but that adds wrapping for the interactive editor to work that doesn't show up in the output code. In the example y

[2022-04-15 13:52] steve8708 commented on #285
That would be amazing. Just replied on the other topic, I believe that one is a misunderstanding (just something that wraps the component for our Builder.io visual editing preview to work, and not something that affects the Mitosis output code), but let me know over there if I am wrong

[2022-04-15 13:54] steve8708 commented on #284
Oops I am on clunky plane wifi and think my image never uploaded, I'll paste here as text instead. This is what mitosis actually generates:

[code]

The <builder-component> is just an alternative means of rendering for visual editing that has some slight differences from the mitosis output, and shouldn't affect mitoisis's generated code

[2022-04-15 14:02] WebReflection commented on #284
**this is what I mean**: the outcome creates a wrapper of what React would've created ...

  * React: it renders a div
  * mitosis: it renders a custom element that contains the div React would've rendered so it adds an extra layer/element per each translated component

![nope](https://user-images.githubusercontent.com/85749/163579743-c743f95d-dc32-4ea7-bb53-bed6f4407249.jpg)

![nope-nope](https:/

[2022-04-15 14:11] steve8708 commented on #284
This absolutely clarifies, thanks so much for taking the time to elaborate @WebReflection. I am not married to the current approach at all, would be absolutely be game for your propose change. Please feel free to improve this and shoot over a PR!

Also, you should join our discord where we have a #mitosis->general channel for chatting on this stuff as well, would love to collaborate closely and lo

[2022-04-15 19:56] WebReflection commented on #284
I'm afraid [I don't have much time these days](https://twitter.com/WebReflection/status/1490618596271267840) to join channels, plus [I've solved this long time ago through my libraries](https://codepen.io/WebReflection/pen/XWVxeqm?editors=0010)!

However, I'd be more than happy to write down what this project should consider, in order to properly translate React to WC, as long as this project also

[2022-04-19 14:12] samijaber commented on #284
@WebReflection  Congratulations! 😄

That would be greatly appreciated! Knowledge from domain experts such as yourself can be tremendously helpful for us to implement the Mitosis WC generator. 🙏🏽

[2022-04-19 14:53] #272 closed

[2022-04-19 14:57] samijaber commented on #242
closed by #271

[2022-04-19 14:57] #242 closed

[2022-04-19 14:58] samijaber commented on #217
I will close this issue since it is related to a separate codebase: https://github.com/BuilderIO/vscode

[2022-04-19 14:58] #217 closed

[2022-04-19 16:05] codthing opened #289 "Mobile terminal adaptation"
**Describe the bug**
Actually, it's not a bug.  However, I want to be able to build my UI with my phone while I'm in bed.  Because inspiration is better when I'm lying down.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.
4.

If possible, a link to a https://mitosis.builder.io/ fiddle containing the bug:

**Expected behavior**
A clear and concise description of what you expected to hap

[2022-04-20 00:31] samijaber opened #290 "implement Svelte Context API"
Similar to how we do it in React: https://github.com/BuilderIO/mitosis/blob/main/packages/core/src/generators/context/react.ts
See https://svelte.dev/tutorial/context-api

we need a `contextToSvelte` that will import the proper helpers. First part is to duplicate the React context generator and swap the import with the `svelte` one. The React and Svelte Context APIs are fairly similar.

[2022-04-20 00:35] samijaber opened #291 "Svelte: support self-referencing component"
For a component to recursively reference itself, it needs to call `<svelte:self>` instead of `<component-name>`: https://svelte.dev/tutorial/svelte-self

We need to bake this logic into the Svelte generator, specifically the `blockToSvelte` function:

https://github.com/BuilderIO/mitosis/blob/fbedeeedd016df678bbc92be3143c272a3d5127c/packages/core/src/generators/svelte.ts#L54

We should be able to

[2022-04-20 07:32] WebReflection commented on #284
@samijaber thanks! About the example, this is just a quick summary of what should be done, but it requires special care for props and it doesn't include fragments possibility. Bear in mind 1:1 React to WC is extremely difficult to have, simply because the paradigm is different, and so are the primitives used behind the scene.

### React
[code]

### WC
[code]

Now, with this kind of outcome, we can

[2022-04-20 18:16] samijaber commented on #291
Example: https://mitosis.builder.io/?outputTab=svelte&code=import+%7B+useState%2C+Show+%7D+from+%22%40builder.io%2Fmitosis%22%3B%0A%0Aexport+default+function+MyComponent%28props%29+%7B%0A++return+%28%0A++++%3Cdiv%3E%0A++++++%7Bprops.name%7D%0A++++++%3CShow+when%3D%7Bprops.name+%3D%3D%3D+%27Sami%27%7D%3E%0A++++++++%3CMyComponent+name%3D%7B%27Jaber%27%7D+%2F%3E%0A++++++%3C%2FShow%3E%0A++++%3C%2Fdiv%

[2022-04-21 18:58] samijaber opened #294 "ESLint: only-default-function-and-imports does not allow types"
This should be valid but gives an error on the type and interface declarations

[code]

[2022-04-21 19:03] samijaber opened #295 "ESLint: no-var-declaration-or-assignment-in-component false positives"
This should be valid for certain assignments, like `useState` and `useContext`. It currently forbids every assignment

[code]

[2022-04-21 19:06] samijaber commented on #295
cc @sahilmob if you're interested in grabbing this, let me know! 🙏🏽

[2022-04-21 19:06] samijaber commented on #294
cc @sahilmob if you're interested in grabbing this, let me know! 🙏🏽

[2022-04-21 19:15] sahilmob commented on #294
@samijaber Sure. please assign to me.

[2022-04-21 19:15] sahilmob commented on #295
@samijaber Sure. please assign to me.

[2022-04-21 19:24] samijaber opened #296 "ESLint: no-assign-props-to-state: false positive on function calls"
Valid test case that currently fails:

[code]

**Error:**
the `foo()` calls are registered as a false positive.

[2022-04-21 19:26] samijaber commented on #296
cc @sahilmob another one I just uncovered.

[2022-04-22 14:02] #295 closed

[2022-04-22 14:02] #296 closed

[2022-04-22 14:23] #294 closed

[2022-04-25 05:06] sanyamkamat commented on #291
Fixed by #293

[2022-04-25 05:06] #291 closed

[2022-04-25 14:31] #290 closed

[2022-04-26 14:21] PatrickJS commented on #255
we're going to use template tags to solve this
[code]

the template approach is using the template to know where the element(s) should be. and creating class groups so its not limited to a single root.
[code]

[2022-04-26 20:23] samijaber opened #302 "ESLint rule: no var assigned with the same name as a prop field"
We have a similar rule for `state` properties: https://github.com/BuilderIO/mitosis/blob/main/packages/eslint-plugin/docs/rules/no-var-name-same-as-state-property.md#L1

It turns out that naming a var the same as a prop is similarly a problem in frameworks like Svelte since properties are stored at the module scope. This can cause a crash in Svelte if the value is using the prop:

[mitosis fiddle]

[2022-04-26 20:24] samijaber commented on #302
cc @sahilmob this is an easy new ESlint rule we could use if you're up for it!

[2022-04-26 22:30] sahilmob commented on #302
Sure. Please assign it to me.

[2022-04-27 18:00] akrabdev commented on #279
@samijaber I facing some difficulties w/ testing

Sorry for for the delay

[2022-04-28 16:23] PatrickJS commented on #255
we're changing it to start/end template tags to support Text nodes
[code]

[2022-04-29 18:19] alujs opened #306 "Remove Span Tags for <For> and {} : Accessibility issues when using span tags everywhere, also CSS issues."
https://mitosis.builder.io/?outputTab=webcomponents&code=import+%7B+useState+%7D+from+%22%40builder.io%2Fmitosis%22%3B%0A%0Aexport+default+function+MyComponent%28props%29+%7B%0A++const+%5Blist%2C+setList%5D+%3D+useState%28%5B%22hello%22%2C+%22world%22%5D%29%3B%0A%0A++const+%5BnewItemName%2C+setNewItemName%5D+%3D+useState%28%22New+item%22%29%3B%0A%0A++function+addItem%28%29+%7B%0A++++setList%28%5B.

[2022-05-02 14:27] rhengles opened #310 "Spacing issues around tags with dynamic text"
## **Describe the bug**

I made an [extremely simple example of running Mitosis with Astro](https://github.com/arijs/astro-mitosis). The same Mitosis component has different rendering between frameworks. I guess we'd need a test suite for this. But below is an example:

The text of the input is rendered like this:
[code]

Note that the dynamic content is rendered on a `<span/>` tag. I could have r

[2022-05-02 15:38] steve8708 commented on #310
Awesome experiment, and great catch! We do nothing special for whitespace normalization currently (as you've discovered), but very solvable

[2022-05-02 15:39] PatrickJS commented on #255
Show span tags for webcomponents were removed in #304 but the For loop span tags are still there

[2022-05-02 19:47] #302 closed

[2022-05-02 23:50] rhengles opened #316 "Fix `vue-template-compiler` dependency"
## **Describe the bug**

In [my project](https://github.com/arijs/astro-mitosis), I'm using `"astro": "^1.0.0-beta.17"` and `"@builder.io/mitosis": "^0.0.49"`.

There are some errors when installing dependencies in my project and when running Mitosis code, as I'll explain below.

## First suggestion

<details>
<summary>
When running `npm install` (with npm >= v7), these errors are printed:
</summa

[2022-05-03 00:20] steve8708 commented on #316
ah yes! vue-template-compiler absolutely should be a peerDependency (we also, in most cases, are going more in the direction of not precompiling and just generating .vue templates that then get compiled by the build of whoever imports those components anyway)

pull requests more than welcome

[2022-05-03 00:22] steve8708 commented on #316
re: mobx-react-lite, that's strange it's a dependency, it should only be a dependency of our fiddle 🤔

but yeah if anything depends on it it can absolutely be a peerDependency

[2022-05-06 18:13] #306 closed

[2022-05-08 03:12] PatrickJS commented on #268
this is fixed in https://github.com/BuilderIO/mitosis/commit/4671607b306e1a4403965a6feab2f84cd9f2f415

[2022-05-08 04:12] PatrickJS opened #324 "Mitosis <Slot> support"
Mitosis needs content projection and we can support this by adding this to the jsx parser

[code]
[code]

When we see child slots without `name` we will just extend <Layout> props (the parent node). Inside Layout component when we see any <Slot> with `name` attribute we can replace that slow node with the reference to the prop. I think we should require `slot` in the name just as we do with `on` k

[2022-05-08 04:55] PatrickJS commented on #173
if anyone is looking for this feature you can use the mitosis/core directly to watch/compile files

[2022-05-08 17:15] steve8708 commented on #324
This is exactly in line with what I’ve wanted to do for this, looks great to me 👍🏼

[2022-05-08 18:23] PatrickJS opened #325 "add new fields to MitosisComponent type: slots"
[code]
a component needs to have all named slots available and I think it should be added here. and inside of children we need Slot nodes
[code]

[2022-05-08 18:24] PatrickJS commented on #324
@steve8708 please review adding slots props to MitosisComponent
https://github.com/BuilderIO/mitosis/issues/325

[2022-05-08 18:36] PatrickJS opened #326 "update MitosisComponent.scope and MitosisNode.scope to determine scoped variables"
it would be a lot easier to pass vars around if we had a scope prop

so we can avoid my workaround to determine scope
https://github.com/BuilderIO/mitosis/blob/ccb51aed001181d55030011379175f58c478fea7/packages/core/src/generators/html.ts#L213...L218

[code]

[2022-05-09 11:58] #268 closed

[2022-05-09 15:36] steve8708 commented on #325
great idea. only thing is this should probably be on `@builder.io/mitosis/node` right? aka when you have

[code]

it would become

[code]

this would be a great eslint rule to eventually add too (cc @sahilmob), essentially that

[code]
is not allowed, you can only put jsx expressions as binding values if the binding name starts with `slot`

[2022-05-09 18:48] PatrickJS commented on #325
yeah it depends on what version of slots we go with but the one with `slotFoo` makes more sense because it's less magic compared to
[code]

[2022-05-09 19:58] steve8708 commented on #325
ah yes I see makes sense. I could see that working too, or also if we did like this we wouldn't need any JSX parser updates, would work OOTB

[code]

that may be simplest in the short term as a result. then you can just get the slots with a helper, like

[code]

children will already be parsed as expected. or I guess could also be something like

[code]

and would similarly work ootb

I'm open min

[2022-05-09 20:56] sahilmob commented on #325
@steve8708 Sure thing. would love to add an eslint rule in the future 🚀 🚀 🚀

[2022-05-09 20:57] PatrickJS commented on #325
yeah what I was trying to avoid was the slot/prop collision. So I'm not sure if we should make it look more like react or html

to make it look more like html
[code]
to make it look more like react
[code]
If we add `$` to the mix it would allow us to have these directives

[code]
and react

[code]

I was thinking of adding `slotBar` as a prop so it doesn't look like magic when you refer to it from

[2022-05-09 21:55] steve8708 commented on #325
ah yes collision avoidance makes sense, agreed with everything here 👍

[2022-05-10 03:12] PatrickJS commented on #325
thinking about it more. the Mitosis way is to support both since we support both ways with `<For>` and `.map()`

so I'll add support for both
[code]

and

[code]
^ I'll add support for this react-way then support the html-way version after

[2022-05-10 03:18] PatrickJS commented on #325
I think we need optional linters to enforce the react-way vs html-way. For example one codebase may want to enforce every loop uses `<For>` vs `.map`. We want the react-way to work but provide warnings for them to change it in a PR. So they may want to do the same for Slots. either to enforce react-way or html-way. This depends on the team if they understand react more or angular/vue more

[2022-05-10 15:49] PatrickJS opened #330 "DRAFT: Mitosis AngularContext support"
In order to support Angular we need to add the missing feature in Angular which is `<AngularContext>`. Which will allow us to hook into the injector hierarchy for `<App>` with either ReflectInjector or StaticInjector

[code]

any code within `<App>` will work correctly without any refactors needed since at the end of the day we're looking for a key walking up the injector context.

Mitosis can com

[2022-05-11 02:58] PatrickJS opened #335 "Multiple onUpdates includes comma in the code"
onUpdates is using `.map` and not `.reduce` to concat the string
for angular/react/html they are fixed with https://github.com/BuilderIO/mitosis/pull/333

[2022-05-11 03:38] PatrickJS commented on #324
the react-way outside the component was merged in
[code]
and the html-way inside the component
[code]
<hr />

we need to add the html-way for outside of the component
[code]
and for inside the component we need the react-way to convert to html-way in angular
[code]
<hr />

we also need to support `<Slot />` for props.children

[2022-05-11 14:35] PatrickJS commented on #324
I have the docs here. we can fid the html-way later
https://github.com/BuilderIO/mitosis/pull/337

[2022-05-12 19:39] PatrickJS opened #340 "implement useContext -> @Inject for Angular"
since mitosis only cares about one component that means we only need to convert the useContext to the angular way

const myService = useContext(MyService)

which would output

constructor(public myService: MyService)

[2022-05-12 21:26] #340 closed

[2022-05-13 23:28] PatrickJS opened #346 "Angular @Output support"
I'm adding simple support to outputs via metadata https://github.com/BuilderIO/mitosis/pull/345 for now but we could do better
[code]

we can determine the output functions with the `on` keyword or determining the function is being invoked `props.onMessage()` we can infer `props.onMessage` is a function and is being used in the component which means it's an output.

[2022-05-15 22:04] steve8708 commented on #175
hey @Harkunwar - have you had a chance to make progress on this one? Mostly just asking to see if you haven't had the time available, I can unassign you and see if someone else is able to pick this up

[2022-05-15 23:23] PatrickJS commented on #175
yeah this is needed

[2022-05-16 01:16] PatrickJS commented on #175
I can work on a public webpack  mitosis-loader/plugin and webpack playground to show raw, compiled components. We created a sample-page internally to check core mitosis changes that helpped a lot too. We also used jsfiddle on the output to what we think the generator should be for webcomponent so i can incorporate something like that too

[2022-05-16 10:19] vamseekrishna9 opened #350 "cli: Output is not generated for Angular and SolidJS frameworks"
**Describe the bug**
I am trying to generate components for react, reactNative, Angular, Vue, solidJS and Svelte with the basic example available @ https://github.com/BuilderIO/mitosis/tree/main/examples/basic

But, when I run the command `yarn run build` I am not getting components output generated for Angular and SolidJS.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the code fr

[2022-05-16 13:27] #335 closed

[2022-05-16 15:18] suresh-legato commented on #350
Hi @vamseekrishna9, use `solid` instead of `solidjs` for `solid` conversion.

[2022-05-16 15:36] PatrickJS commented on #350
@samijaber we should probably validate the config file like what webpack does

[2022-05-16 21:34] samijaber commented on #350
@vamseekrishna9 Make sure to use the `dev` version of both `@builder.io/mitosis` and `@builder.io/mitosis-cli` and not `latest`. As of today, that would be [0.0.17-8](https://www.npmjs.com/package/@builder.io/mitosis-cli/v/0.0.17-8). Are you able to reproduce using that version?

[2022-05-17 00:29] PatrickJS commented on #324
I'm going to close this since the jsx-way is done. We can the html-way later if others prefer like vue/angular users

[2022-05-17 00:29] #324 closed

[2022-05-17 01:00] PatrickJS opened #351 "core: update MitosisComponent.bindings to include arguments"
[code]
in order to allow devs to change the event name we need to get the arguments from jsx and rewrite the code in the generator.

This PR is an example of that without arguments
https://github.com/BuilderIO/mitosis/pull/323

[2022-05-17 01:20] PatrickJS commented on #215
oh this is fixed for webcomponents

[2022-05-17 01:20] #215 closed

[2022-05-17 01:43] PatrickJS commented on #149
We can probably make an Alpha version of React => Mitosis. We would just have to change the jsx parser a bit and create a few escape hatches.

Mitosis can be a slightly stricter version of whatever framework the lib author chooses (so long as they maintain some of the escape hatches). The lib author would need testing oh every new changes to mitosis to make sure their lib can output to everything

[2022-05-17 01:45] #275 closed

[2022-05-17 01:53] PatrickJS commented on #81
this is supported

https://mitosis.builder.io/?outputTab=react&code=import+%7B+useState%2C+onUnMount%2C+onMount+%7D+from+%22%40builder.io%2Fmitosis%22%3B%0A%0Aexport+default+function+MyComponent%28props%29+%7B%0A++const+%5Bname%2C+setName%5D+%3D+useState%28%22Steve%22%29%3B%0A%0A++onMount%28%28%29+%3D%3E+%7B%0A++++console.log%28%27onMount%27%29%3B%0A++%7D%29%3B%0A%0A++onUnMount%28%28%29+%3D%3E+%7B

[2022-05-17 01:53] #81 closed

[2022-05-17 08:33] decadef20 commented on #351
I want to have a try

[2022-05-17 11:08] vamseekrishna9 opened #352 "Is it possible to re-use components from material library for conversion from mitosis to other frameworks"
**Describe the bug**
I would like to add components from material ui and add some additional styling and logics to match our design system and these needs to be converted to other frameworks. Is this possible with mitosis ?

**To Reproduce**
Steps to reproduce the behavior:
1. Create a sample mitosis project
2. Add @mui/material as dependency and create a simple component(may be a Button imported

[2022-05-17 12:42] PatrickJS commented on #352
not at the moment and will be hard to support without help with the lib author. This can be supported once react supports webcomponents then you can use that in angular.

I'm going to close this since the project can't support this at this time

[2022-05-17 12:42] #352 closed

[2022-05-17 12:48] PatrickJS commented on #351
@decadef20 if you look at my PR half the code is not needed because it's guarding against overloading props.   https://github.com/BuilderIO/mitosis/pull/323#discussion_r868124062

in the code here https://github.com/BuilderIO/mitosis/blob/ccb51aed001181d55030011379175f58c478fea7/packages/core/src/types/mitosis-component.ts#L34
add `arguments` which is a type `string[]`

once we get that PR merged

[2022-05-17 17:48] alujs opened #353 "Mitosis - Angular ClassNames"
When using Mitosis, className works for react but does not for Angular, for Angular we should replace className with class.

[2022-05-17 18:41] #353 closed

[2022-05-17 18:49] alujs commented on #351
@decadef20

他希望你先做 PR，然后他会 merge。

[2022-05-17 22:19] PatrickJS opened #356 "Child Components for Angular/WebComponents"
Angular and WebComponents don't convert the child components into the correct selectors

The Angular output looks like this
[code]

but we want

[code]

If they want the correct selector then the name they used for the import will determine that

[2022-05-17 22:51] PatrickJS commented on #346
PR https://github.com/BuilderIO/mitosis/pull/357 removes the need for `useMetadata`

[2022-05-18 01:55] decadef20 commented on #351
@PatrickJS @alujs
抱歉 我误解了@PatrickJS
Sorry I misunderstood @PatrickJS
When I finish, I will make a PR

[2022-05-18 02:48] PatrickJS commented on #232
this is still an issue. I thought it was that bit of code too or maybe I was too tired.

[2022-05-18 02:49] PatrickJS commented on #187
because of how component alias across frameworks works this has to be one component per file and we can update this later once we have better workaround for other frameworks

[2022-05-18 02:49] #187 closed

[2022-05-18 02:54] PatrickJS commented on #189
in my PR I'm always updating el.props that way it will work for most cases.

if you want to force an update you can do
const myComponentEl = document.querySelector("my-component")
myComponentEl.name = "Charlie";
myComponentEl.update();

[2022-05-18 15:07] #189 closed

[2022-05-18 15:07] #255 closed

[2022-05-18 15:07] #326 closed

[2022-05-18 15:07] #346 closed

[2022-05-18 15:07] #356 closed

[2022-05-18 17:03] PatrickJS opened #360 "Slot support for webcomponent (without shadowdom)"
create a Slots API for webcomponent that doesn't need ShadowDom

slots are just elements created at one place that is moved to another. If a webcomponent is using slots without shadowdom we can look for the elements and move them. If the slots have data binding then this will be more of a problem but that should be fine if we keep the data-name

[2022-05-19 02:58] PatrickJS opened #366 "webcomponent: any html attribute needs to use setAttribute"
any html attribute needs to use setAttribute

[2022-05-19 03:15] PatrickJS opened #367 "webcomponent: better rerenders"
We're destroying the view when a component updates to work around not having root nodes. We need a better ways to detect changes

[2022-05-19 03:18] PatrickJS opened #368 "webcomponent: redo register listeners"
we to separate the binding updates and registering for listeners

https://github.com/BuilderIO/mitosis/issues/285

[2022-05-19 18:40] PatrickJS opened #370 "webcomponent: sanitize innerHtml"
sanitize innerHTML using https://github.com/apostrophecms/sanitize-html or something else

[2022-05-19 21:32] #366 closed

[2022-05-20 17:02] CKGrafico opened #372 "Preserve Typescript types in output"
Hello not sure if I'm understanding well the purpose of this library but when I create a component like:
[code]

The result is:

[code]
or:

[code]

If I want to use mitosis to create my own components library, how I can get the types of my components to be able to expose them?

[2022-05-20 17:08] PatrickJS commented on #372
yeah thats a good point. @samijaber what do you think is the best way to transfer the types over?

[2022-05-20 17:31] PatrickJS opened #374 "webcomponent: useContext"
useContext for Web Component

allow devs to specify what they want to useContext otherwise default to an html version

[2022-05-20 17:38] PatrickJS opened #375 "angular: useRef"
we need to make sure useRef works in the angular way

[2022-05-20 19:29] PatrickJS commented on #375
this is supported actually
https://mitosis.builder.io/?outputTab=angular&code=import+%7B+useState%2C+useRef+%7D+from+%22%40builder.io%2Fmitosis%22%3B%0A%0Aexport+default+function+MyComponent%28props%29+%7B%0A++const+%5Bname%2C+setName%5D+%3D+useState%28%22Steve%22%29%3B%0A%0A++function+onBlur%28%29+%7B%0A++++%2F%2F+Maintain+focus%0A++++inputRef.focus%28%29%3B%0A++%7D%0A%0A++function+lowerCaseName%

[2022-05-20 19:29] #375 closed

[2022-05-20 19:29] PatrickJS opened #376 "webcomponent: useRef"
useRef in html which is just a querySelector

[2022-05-20 22:40] PatrickJS opened #378 "webcomponent: transfer input state on rerenders"
re-rendering inputs makes it impossible to type anything

[2022-05-20 23:55] samijaber commented on #372
Hey @CKGrafico, that's a very good question. Unfortunately, at the moment, all types get stripped out when the component JSON is generated from the Mitosis source code. Preserving types is definitely an important feature that we want to incorporate into Mitosis though, so let me try to break down what this requires!

Our JSX parser already supports TypeScript syntax:

https://github.com/BuilderIO/

[2022-05-21 00:31] PatrickJS opened #379 "webcomponent: separate methods from state object"
we want to diff the state object so we should probably store the methods in its' own object or the class itself.

this.methods = {}

[2022-05-21 00:35] PatrickJS commented on #330
we need to change methods based on which angular version they're using. In angular 14 we can use `inject` which will make the code simple

[2022-05-21 01:59] PatrickJS opened #380 "webcomponent: onUpdate include deps"
onUpdate should include deps array to determine when the change should fire

[code]

[2022-05-21 06:45] CKGrafico commented on #372
Hello thanks for your awesome and detailed reply, that was really useful :D

[2022-05-21 06:49] CKGrafico opened #381 "Different results with CLI or with mitosis.config.js"
Hello,
For sure I'm doing something wrong but I'm having different results using `mitosis.config.js` than the cli.

[code]

This generates compiled JS files not components.

but using commands like:
[code]

Generates the expected component.
I'was digging into the docs and config options but I cannot find how to using the config file I can have the same result, I don't need the code compiled I'm go

[2022-05-21 07:31] CKGrafico commented on #381
Meanwhile I did that horrible script :D but maybe it works to someone like me.

[code]

[2022-05-21 20:36] PatrickJS commented on #381
I did that too but ended up just using mitosis/core directly which gives you more control over the output

[2022-05-21 20:45] PatrickJS commented on #380
in react they do this with a usePrevious hook that uses useRefs to get the previous value

[2022-05-21 20:57] PatrickJS opened #382 "setContext to pass a factory function"
it would be great if we could pass a factory function to setContext

[code]

[2022-05-22 07:15] CKGrafico commented on #381
Oh thanks! At least I’m not doing the things so wrong that’s nice to know.

[2022-05-22 16:09] decadef20 commented on #372
Very clear explanation. It seems like a changeling issue.  If possible, I want to have a try.

[2022-05-23 11:55] decadef20 commented on #286
I am working on it

[2022-05-23 12:20] decadef20 commented on #206
solved by this [PR](https://github.com/BuilderIO/mitosis/pull/385)

[2022-05-23 12:52] decadef20 commented on #282
Can I work on this issue?

[2022-05-23 12:53] PatrickJS commented on #282
@decadef20 I'll assign it to you

[2022-05-23 12:57] PatrickJS opened #386 "json.properties._forName needs to be replaced with json.scope.For"
arguments for `For` is provided in `json.scope.For as string[]` and we need to replace `_forName` with it.

once they're all replaced then we want to remove `_forName`

[2022-05-23 13:00] PatrickJS opened #387 "vue: trailing comma in Vue code generator"
We have an issue with the code generated for `data` that `prettier` doesn't format correctly.

It might be because of this [        .map((thisImport) => Object.keys(thisImport.imports).join(','))](https://github.com/BuilderIO/mitosis/blob/40437e911185fc6eaa6de60f737326ffd38cca11/packages/core/src/generators/vue.ts#L442)

Link to snap with the issue
https://github.com/BuilderIO/mitosis/pull/385#dis

[2022-05-23 13:03] PatrickJS commented on #382
@steve8708  what do you think?

[2022-05-23 13:22] PatrickJS commented on #286
fixed via https://github.com/BuilderIO/mitosis/pull/385

[2022-05-23 13:22] #286 closed

[2022-05-23 13:22] PatrickJS commented on #206
fixed by https://github.com/BuilderIO/mitosis/pull/385

[2022-05-23 13:49] PatrickJS opened #388 "Can't assign "params" to "state""
we need a way to assign `props` to `state`
https://github.com/BuilderIO/mitosis/blob/main/docs/gotchas.md#cant-assign-params-to-state

we can either inject the workaround into onMount or for some generators

[2022-05-23 13:52] PatrickJS opened #389 "core: allow destructure assignment of state and props"
we should undo the destructure assignment so the rest of the code generators still work. In some parts of the generators we are relying on props. or state.

[2022-05-23 13:54] PatrickJS opened #390 "allow functions to be passed by reference"
in most of the generated code this works as expected.
https://github.com/BuilderIO/mitosis/blob/main/docs/gotchas.md#functions-cant-be-passed-by-reference-to-jsx-callbacks

[2022-05-23 14:00] PatrickJS opened #391 "webcomponent: namespace helper functions"
when we generate the code the helper functions such as `update` and `render` may conflict with any use defined method or prop. Later we may proxy the element for direct reference assign to update the prop or invoke any methods

[code]
the proxy should detect the props and assign it to .props
`el.props.myProp`

[2022-05-23 14:26] PatrickJS opened #392 "separate generators from mitosis/core"
we should have a mitosis/generator package with deep imports for any framework

@builder.io/mitosis-generator/webcomponent
@builder.io/mitosis-generator/angular
@builder.io/mitosis-generator/react

@builder.io/mitosis

[2022-05-23 14:26] steve8708 commented on #382
Oh interesting, yeah if this can map cleanly to the different framework outputs then totally works for me 👍🏼

[2022-05-23 14:31] PatrickJS opened #393 "webcomponent: transfer focusable elements during re-renders"
certain elements may be the current activeElement. The list (from https://github.com/WICG/inert/blob/09c0647f59a3ad61ffbd92d17b9a0770fdbef412/src/inert.js#L24)

* a[href]
* area[href]
* input:not([disabled])
* select:not([disabled])
* textarea:not([disabled])
* button:not([disabled])
* details
* summary
* iframe
* object
* embed
* [contenteditable]

[2022-05-23 14:55] PatrickJS opened #394 "create helper lib per framework"
similar to tslib we may need a helper lib, as an option, to add/remove some runtime boilerplate.

For webcomponent this is becoming more of an issue (for our use-case it hasn't been a big deal)

the way I see this is @builder.io/mitosis-react and @builder.io/mitosis-webcomponent and the dev can replace it in mitosis.config.js and choose to include it or not

[2022-05-23 15:18] PatrickJS opened #395 "angular: fix event name when used as argument"
[code]

right now $event is looking for `event.`

[2022-05-23 16:08] decadef20 opened #396 "vue: v-html broken"
- [ ] I am interested in helping provide a fix

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.
4.

If possible, a link to a https://mitosis.builder.io/ fiddle containing the bug:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots

[2022-05-23 18:12] #396 closed

[2022-05-23 18:12] PatrickJS commented on #396
thanks

[2022-05-23 18:18] PatrickJS opened #398 "add useWindow useDocument"
I think it's a good idea to add these hooks as each framework has their own way to manage these globals

[2022-05-23 18:19] PatrickJS commented on #398
@steve8708 I think we need to add these to Mitosis so that they will be compiled away to the correct way per framework

[2022-05-23 18:24] steve8708 commented on #398
this is a neat idea. I love compile way features. I haven't used a framework in a little while that had an abstraction for accessing window/document besides just using the global variable names (and in your own code guarding to make sure that would only run in the browser). but maybe some platforms have abstractions here these days like angular?

[2022-05-23 18:43] PatrickJS commented on #398
yeah for angular you want to use it's refs to window/document but it's not clear what to do in some other frameworks. In React for example you use it directly but wrap it around a hook.

![Screen Shot 2022-05-23 at 2 38 31 PM](https://user-images.githubusercontent.com/1016365/169885241-b2bf4eb9-f3a0-4f30-b712-b85b700f6950.png)

we may also want to add something like useLayoutEffect

[2022-05-23 18:43] steve8708 commented on #398
ah yes this is very interesting

[2022-05-23 19:46] sachinraja commented on #206
I don't think that PR fixed every framework?

[2022-05-23 20:48] PatrickJS commented on #206
@decadef20 can you update this for every framework

[2022-05-24 00:15] decadef20 commented on #206
Sure

[2022-05-24 00:15] PatrickJS opened #400 "core: allow for useRef to be used for values other than DOM refs"
In react we need to use useRef to work around some features like `previousValue`. Currently we only use useRef for DOM references but we should separate the two. We can look for any useRef used in the jsx and determine anything not used will be used to maintain refs.

In angular this is as simple as adding a prop to the class that isn't in the template.

In webcomponent it's the same as angular an

[2022-05-24 14:16] PatrickJS commented on #351
done via https://github.com/BuilderIO/mitosis/pull/369

[2022-05-24 14:16] #351 closed

[2022-05-24 14:18] PatrickJS commented on #206
from this PR https://github.com/BuilderIO/mitosis/pull/401 it looks like the only issue us angular output

[2022-05-24 14:47] steve8708 commented on #388
One thing I've been thinking we need that would help this is something like an `onInit` hook, like something that lets you run code immediately, before mount, e.g. like

[code]

which then outputs to like `ngOnInit` for angular (or maybe constructor), `created` or `beforeCreate` for Vue, etc

I think `onMount` works in the meantime tho, some things occasionally may double render and it won't affec

[2022-05-24 15:27] Harkunwar commented on #175
Hello everyone! Sorry I've been busy lately but I have done some preliminary research on this topic and I still plan to work on this. I'll start creating MRs with my progress soon. I've spent most of my last two months writing esbuild plugins just to familiarize myself with JS compiling and hopefully now I can use that knowledge here.

[2022-05-24 15:41] steve8708 commented on #175
Sounds great, can't wait @Harkunwar !

[2022-05-24 18:13] PatrickJS commented on #388
yeah maybe we should change onInit to work sooner for this case

[2022-05-24 18:21] PatrickJS commented on #388
actually if we just require this to happen in onInit then we can avoid all this. Ideally any prop on state can be refactored into onInit then when we generate the file the onInit code will be placed correctly

[2022-05-24 18:23] steve8708 commented on #388
Oh funny I didn't realize we already had it, but yeah we can do all this setup in that if in the right place

[2022-05-24 18:41] PatrickJS commented on #388
Yeah I added it recently but it should definitely be used to set default values and nothing async

[2022-05-25 13:56] #282 closed

[2022-05-25 14:06] samijaber commented on #392
This makes sense in the long run, but given how small the contributor team is and how little tooling we have, it is far easier at the moment to have everything in one place when it comes to testing, publishing, and linking all the pieces together.

Definitely something we can further explore once tooling matures a bit. 👍🏽

[2022-05-25 14:08] PatrickJS commented on #392
yeah thats a good point 👍

[2022-05-25 14:08] #392 closed

[2022-05-25 14:08] samijaber commented on #389
What do you mean by that exactly? Which de-structure assignment?

[2022-05-25 14:13] PatrickJS commented on #389
react developers do de-structure assignments all the time for props. A lot of the generator code relies on `props.` so it would be better to undo their de-structured props

[code]
convert it to props before the generator runs

[code]

[2022-05-25 14:25] samijaber commented on #175
@Harkunwar Awesome. Feel free to reach out in our Discord with any questions/issues you may have: this is a big project and there'll likely be complications 😅

[2022-05-25 14:39] samijaber commented on #389
Oh I see. You're saying that the JSX Parser should include logic that, if `props` or `state` is de-structured, then it should be smart enough to swap the restructure with `props`/`state`, and the assignments/uses of the variables with `props.children` and `state.foo` so that the Mitosis syntax is still able to rely on de-structuring for better dev UX.

Yeah, that would be neat and not a particular

[2022-05-25 14:40] samijaber commented on #394
Can you elaborate on what these helper libs contain exactly? It's not clear to me what this is meant to improve.

[2022-05-25 15:11] PatrickJS commented on #389
💯 Yeah that would be great

[2022-05-25 15:12] #394 closed

[2022-05-25 15:42] decadef20 commented on #372
OK。At first,I plan to implement it  on react framework. Make sure what I build out is as expected.

[2022-05-26 02:50] L1lith opened #407 "Solid compilation target fails on the "basic" example"
- [?] I am interested in helping provide a fix
If I have the skills to fix this I wouldn't mind looking around when I get time. I don't really understand the Solid internals fully though.

**Describe the bug**
The [basic example](https://github.com/BuilderIO/mitosis/tree/main/examples/basic) fails when the `mitosis.config.js` has it's target changed to Solid

mitosis.config.js
[code]

**To Reprodu

[2022-05-26 07:26] CKGrafico commented on #381
My thing was that I wanted to manage the transpilation by myself, right now what I'm doing the transpilation to components using mitosis like this https://github.com/CKGrafico/papanasi/blob/main/mitosis.compiler.js (not so clean I know) and the transpilation to esm and umd with lerna and rollup like this  https://github.com/CKGrafico/papanasi/blob/main/rollup.config.js and https://github.com/CKGra

[2022-05-26 10:37] vamseekrishna9 commented on #407
This answer may be helpful to you. Please refer here https://github.com/BuilderIO/mitosis/issues/350#issuecomment-1128160728

[2022-05-26 10:37] #350 closed

[2022-05-26 15:17] PatrickJS opened #409 "onUpdate first argument should be deps not second"
the first arg should be the deps. We shouldn't follow react pattern for this since react was overloading useEffect for multiple usage (with dep array with no args, vs dep array with args, vs no dep array)

[code]

@steve8708 what do you think?

this will be a breaking change so we should support both in the jsx parser but change the docs

[2022-05-26 15:23] steve8708 commented on #409
ah interesting, so the one thing I like about not having the deps first is many frameworks don't need it, e.g. solidjs, qwik, vue, etc all don't need deps. so the optional second arg felt right, bc then if you only care to support more reactive frameworks you don't need to include it (and react etc will work they just won't be the most performance optimized), and if you want to add that one optimi

[2022-05-26 15:26] CKGrafico opened #410 "Are webcomponents working?"
I've checked in the builder and demo and I cannot verify but the same component that is working perfect in react or vue is not working with webcomponents, nothing happens with props and the slot.

https://codesandbox.io/s/papanasi-webcomponents-27zsfr?file=/src/index.js

```<pa-button variant="red">Test</pa-button>```

original code:

[code]

result:
![image](https://user-images.githubusercontent.

[2022-05-26 17:30] CKGrafico opened #411 "Template literals are not working in components"
Not a huge problem but FYI its difficult to work with template literals in mitosis (and more if you're compiling to angular)

Code:
[code]

Result:
[code]

The problem is that you're transforming to strings, the bundler cannot understand the template literal inside (this is not happening in react or vue)

Fix (obvious fix... hah)
[code]

Result:
[code]

[2022-05-26 18:36] PatrickJS commented on #410
in your mitosis file you need to specify that you're using the shadowdom. Can I see your raw mitosis file

[2022-05-26 19:58] CKGrafico commented on #410
Oh… sorry for wasting your time feel free to close

[2022-05-26 20:03] PatrickJS commented on #410
no worries issues are welcomed. we didn't document this so it's our fault. I've been working on the webcomponent output so anything in that area I'll address

[2022-05-26 20:03] #410 closed

[2022-05-26 21:16] PatrickJS commented on #411
yeah we need this. @samijaber is this a jsx parser issue?

[2022-05-26 21:23] samijaber commented on #411
Thanks @CKGrafico. For the future, if you don't mind, please follow the Bug template! It includes a request for a mitosis.builder.io fiddle which makes it easier to immediately see what the issue is.

As for the issue: I see this works fine for every framework besides Angular, in which case it's just a bug in the Angular generator specifically. Do you see it anywhere else?

[2022-05-26 22:16] samijaber commented on #381
One thing I noticed: `mitosis build` and `mitosis compile` are different commands that do different things:
- `mitosis compile` is a much simpler command: it takes 1 file and outputs it to one target.
- `mitosis build` will handle an entire directory, which may include non-mitosis JS/TS files etc.

You have been interchanging the two, so I believe that's where the discrepancy lies. Looking at http

[2022-05-27 05:05] CKGrafico commented on #381
Hello @samijaber the "non- transformation" is happening everywhere as you can easily check in the builder.
![image](https://user-images.githubusercontent.com/2048511/170632719-36d3a948-8b9d-4119-a0a7-374e1916375a.png)

The only difference is that seems that in angular is the only one where you are taking all the html and wrapping in a string.
![image](https://user-images.githubusercontent.com/2048

[2022-05-27 05:05] CKGrafico commented on #411
Hello @samijaber the "non- transformation" is happening everywhere as you can easily check in the builder.
![image](https://user-images.githubusercontent.com/2048511/170632719-36d3a948-8b9d-4119-a0a7-374e1916375a.png)

The only difference is that seems that in angular is the only one where you are taking all the html and wrapping in a string.
![image](https://user-images.githubusercontent.com/2048

[2022-05-27 05:44] CKGrafico commented on #410
As you said now is working perfectly the shadow dom https://codesandbox.io/s/papanasi-webcomponents-27zsfr?file=/index.html:151-158 the only problem is that I've undefined in the classname but probably my fault I'll doublecheck your demos.

```<pa-button variant="red">Test</pa-button>```

[2022-05-27 12:46] PatrickJS commented on #410
@CKGrafico can you make a new issue about this.

Attributes aren't being converted to props on load

The way I'm using mitosis/webcomponents is having the whole app in it so I never actually ran into this issue haha

[2022-05-27 12:51] PatrickJS opened #415 "core: Create test to check Builder SDK with PR changes"
When there is a change to the jsx parser and other import parts used by Builder SDK we need to run the tests for Builder SDK with the changes made in the PR.

We can create a Github Action to pull the latest version of Builder SDK and check if it's working correctly

[2022-05-27 13:09] samijaber commented on #411
@CKGrafico I must be misunderstanding you! I am not sure what you mean by "the non-transformation".

If I look at [this Fiddle](https://mitosis.builder.io/?outputTab=react&code=export+default+function+Button%28props%29+%7B%0A++return+%3Cbutton+class%3D%7B%60pa-button+%24%7Bprops.variant+%3F+%60pa-button--%24%7Bprops.variant%7D%60+%3A+%27%27%7D+%60%7D%3E%7Bprops.children%7D%3C%2Fbutton%3E%3B%0A%7D%

[2022-05-27 15:07] PatrickJS opened #416 "webcomponent: Attributes aren't being converted to props on load"
https://github.com/BuilderIO/mitosis/issues/410#issuecomment-1139301115

Attributes aren't being converted to props on load

https://codesandbox.io/s/papanasi-webcomponents-27zsfr?file=/index.html:151-158

[2022-05-27 15:08] PatrickJS commented on #410
I made an issue for this here https://github.com/BuilderIO/mitosis/issues/416

[2022-05-27 15:13] PatrickJS commented on #380
the use-case is to detect changes then fire a side-effect. this change adds deps to onUpdate which will solve for most cases https://github.com/BuilderIO/mitosis/pull/377/commits/5bacd0d333257edd3ede95d4198b529ef42c64e0

in order to get previous value we need to use useRef https://github.com/BuilderIO/mitosis/issues/376

[2022-05-27 15:42] PatrickJS commented on #411
yeah we ran into this issue too I think it's more of an issue with certain generators

[2022-05-27 16:54] CKGrafico commented on #411
Do the same test with angular and you will understand the problem :)

[2022-05-27 17:16] samijaber commented on #411
Right. Like I said earlier, I understand that angular has a bug! So we're saying the same thing: template literals inside of the render body work in general, but not in the case of Angular.

Worth noting that in Mitosis, we usually suggest that you put any sort of state inside of your `useState` hook, and avoid computing things inside of your render body. This will avoid edge-cases such as this an

[2022-05-27 19:01] PatrickJS commented on #416
fixed via https://github.com/BuilderIO/mitosis/pull/377/commits/83a82821b3431a59924790cb577fc24d3cc60378
https://stackblitz.com/edit/js-tk9tub?file=index.js

[2022-05-27 20:52] schirrel opened #417 "question: Events and Form controlling"
Sorry if is not the place i haven't found were to ask.
But very often the problem with build component for multiple frameworks is the event handling and form controllers.
I am curring planning to make a single UI lib that can be used both by react and vue.
I've tested pure web-component and also some libraries (and lit) and there are two major problems:
- Event emit -> some events don't "goes up"

[2022-05-27 21:49] PatrickJS commented on #417
Right now Mitosis makes sense for atomic components and anything more you have to use per-framework in the package. I have a few different approaches to work around these controlled components (Animation/Modal/Forms) that will be plugins

[2022-05-28 06:50] pro-nav opened #418 "[Discussion] Different outputs in cli and online fiddle"
First of all great tool you have. Thanks.

I am using `mitosis` to compile my react code to vanilla html. I am getting different html results from the `cli` tool and the hosted app at `mitosis.builder.io`. I actually prefer the code generated by the online fiddle and want to know what version/commit is being served online and is there a way to use the same locally?

By preferred code I want code t

[2022-05-28 08:37] PatrickJS commented on #418
Yeah the original code had a lot of problems. Ideally we can both defending on the edge case. In the original one a root element is required but because of accessibility we can't have span tags within  ul and li. The other issue was that you're forced to style around the span tags. If you compile to react and webcomponent the view can look different because of that small difference. I want to dete

[2022-05-28 10:55] CKGrafico commented on #411
Oh clean solution thanks, I was guessing this but was not sure.. although you recommend to use always state or bateas a regular `const` for a static values?

[2022-05-31 14:07] samijaber commented on #417
@schirrel I don't see why those would be issues with Mitosis. Mitosis is not like web components: the components that it generates are _pure_ React and Vue components. There is no trace of Mitosis left in them. So something [like this](https://mitosis.builder.io/?outputTab=react&code=import+%7B+useState+%7D+from+%22%40builder.io%2Fmitosis%22%3B%0A%0Aexport+default+function+MyComponent%28props%29+%

[2022-05-31 14:08] schirrel commented on #417
Wooooooa @samijaber thats awesome, i havent understood that, maybe my english break me here.
But the fact that they convert mitoses in pure is awesome, a huge thank you for clarify ❤️

[2022-05-31 14:09] #417 closed

[2022-05-31 14:24] samijaber commented on #411
@CKGrafico You cannot use "regular `const`s" in Mitosis 😄. If you take a look at [this example](https://mitosis.builder.io/?outputTab=react&code=import+%7B+useState+%7D+from+%22%40builder.io%2Fmitosis%22%3B%0A%0Aexport+default+function+MyComponent%28props%29+%7B%0A++const+state+%3D+useState%28%7B+name%3A+%22Steve%22+%7D%29%3B%0A%0A++%2F%2F+this+will+not+end+up+in+generated+code%0A++const+someRando

[2022-05-31 14:27] samijaber commented on #418
That was an old version. We just deployed the latest Mitosis version to the fiddle, so they should at least be consistent.

@PatrickJS's explanation covers why those changes happened (a11y and removing redundant `span` tags)

[2022-05-31 14:48] PatrickJS opened #421 "core: include local file "export""
We should include `export`s within the same file.

https://mitosis.builder.io/?outputTab=react&code=import+%7B+useState+%7D+from+%22%40builder.io%2Fmitosis%22%3B%0A%0Aexport+const+defaultValues+%3D+%7B%0A++name%3A+%27hello%27%0A%7D%0A%0Aexport+default+function+MyComponent%28props%29+%7B%0A++const+state+%3D+useState%28%7B%0A++++name%3A+%27%27%0A++%7D%29%3B%0A%0A++return+%28%0A++++%3Cdiv%3E%0A++++++

[2022-05-31 14:58] PatrickJS opened #422 "webcomponent: let user to define what are attribute vs props or both via useMetadata"
We should let the user overwrite what are attribute vs props or both with useMetadata

[2022-05-31 15:01] #376 closed

[2022-05-31 15:01] #378 closed

[2022-05-31 15:01] #374 closed

[2022-05-31 15:01] #380 closed

[2022-05-31 15:01] #395 closed

[2022-05-31 15:01] #416 closed

[2022-05-31 15:06] PatrickJS commented on #421
@decadef20 do you think you can do this one? We want to collect all exposed `export` variables probably in MitosisComponent.exportRef what do you think @samijaber?

[2022-05-31 15:33] steve8708 commented on #421
ah there isn't actually, the original intent was to just straight up copy everything above and below the component into the output, so if you wrote

[code]

we would just copy the added code above/below in the output generator

I think I removed this at some point to not cause confusion, as it's important not to do this as in the past it wouldn't work as expected. now tho it actually might be perf

[2022-05-31 15:44] PatrickJS commented on #421
yeah we can definitely support this in all frameworks and when you import the file can you choose both default and others.
[code]
or
[code]

[2022-05-31 15:47] samijaber commented on #421
Sweet, sounds good to me! Definitely an easy feature to add

[2022-05-31 15:55] PatrickJS commented on #421
@decadef20 do you want to add this feature? it should be similar to https://github.com/BuilderIO/mitosis/pull/420

[2022-05-31 16:40] CKGrafico commented on #411
understood, thank you for the clarification!

[2022-05-31 17:01] PatrickJS opened #424 "webcomponent: correctly export webcomponent file"
we may want to export everything within the webcomponent file to be used include the webcomponent itself

[2022-05-31 18:13] rhengles commented on #310
Your question is a little abstract, but I will try to write my humble opinion about some concrete points, feel free to use it or not.

1. The svelte generator is putting a space between the close `</span>` tag and the `!` exclamation mark. I think this is a plain bug, because there is no space there in the source jsx.

2. There is a space between the `Hello` word and the open `<span>` tag. When th

[2022-06-01 10:43] CKGrafico opened #425 "Angular useState hook not working"
**Scope**
- [ ] This impacts ALL Mitosis outputs
- [x] This only impacts specific generators/outputs (please list them here):

**Describe the bug**
When using `useState` in your builder or in my project, angular is not rendering the correct code.

**To Reproduce**
Steps to reproduce the behavior:
1.Create a useState gith get and set.
2. OnUpdate call to the setter.
3. Angular will generate this co

[2022-06-01 11:16] CKGrafico commented on #411
Maybe we can close this? For me it’s ok.

[2022-06-01 11:17] #381 closed

[2022-06-01 13:14] samijaber commented on #425
@CKGrafico Our Fiddle examples are actually using an outdated syntax of `useState`. Let me quickly update those to better reflect how you'd use `useState` today!

[2022-06-01 14:20] samijaber commented on #425
This issue only occurs with `onUpdate` hooks. See [this fiddle](https://mitosis.builder.io/?outputTab=svelte&code=import+%7B+useState%2C+onMount+%7D+from+%22%40builder.io%2Fmitosis%22%3B%0A%0Aexport+default+function+MyComponent%28props%29+%7B%0A++const+state+%3D+useState%28%7B%0A++++name%3A+%22Steve%22%0A++%7D%29%3B%0A%0A++onMount%28%28%29+%3D%3E+%7B%0A++++state.name+%3D+%27hola%27%0A++%7D%29%0A++

[2022-06-01 16:12] CKGrafico commented on #425
I’m starting to feel like a QA Engineer 👷‍♀️

thanks for all your work and responses to all my questions!

[2022-06-01 19:43] kylecordes opened #427 "Request for better conditional class syntax"
### Feature request...

Angular has `[class:foo]="bar"`

Svelte has `class:foo={bar}`

Solid isn't too far behind, with: `classList={{ active: state.active, editing: state.currentId === row.id }}`

Mitosis has a CSS-in-JS construct, but conditional classes are currently just the basic JSX roughness, for example this bit from the TODO example. This syntax scales poorly to a longer list with multipl

[2022-06-02 16:13] chadalen opened #428 "Using onInit throws useEffect not defined"
- [x] I am interested in helping provide a fix!

**Scope**
- [ ] This impacts ALL Mitosis outputs
- [x] This only impacts specific generators/outputs (please list them here):
React

**Describe the bug**
When using the `onInit` mitosis hook in @builder.io/mitosis v0.0.56-11 you also have to define another hook e.g onUpdate or else you'll get an error saying useEffect hook was not defined. (See imag

[2022-06-02 16:24] samijaber commented on #428
@chadalen Thanks for the bug, and the willingness to fix it! This one is _super_ easy, especially thanks to your useful debugging :) :

https://github.com/BuilderIO/mitosis/blob/c701c0009893df07d56f5eabdc8910d81561b1d5/packages/core/src/generators/react.ts#L560-L567

We're missing a check here for `json.hooks.onInit?.code`.

[2022-06-02 17:57] samijaber opened #430 "End-to-end testing"
## Problem

Our current snapshot testing in `packages/core` only does so much. It does not:

- always make sure that the generated code is even valid JS
- that the generated components are valid in regard to the rules of their frameworks
- that the generated components have the features they are meant to have (interactivity, state management, styling, lifecycle hooks logic, etc.)

Another big issu

[2022-06-02 18:01] kylecordes commented on #175
Storybook integration is a great idea, but having used Storybook with various component frameworks, I've noticed that the files needed to test these components via storybook are not quite the same (or in some cases pretty different) from what is needed to see if the component compiles and works directly with its framework, with no Storybook involved.

Therefore it may be wise to consider a differe

[2022-06-02 18:09] samijaber commented on #430
@kylecordes I don't have much experience with Storybook, so you could be totally right here! Can you point to any well-known issues you're aware of, or have faced regarding this inconsistency? Are there certain outputs it struggles with more than others?

And yeah, my original vision included exactly what you described: a `sveltekit` server for svelte, a simple `solidjs+vite` template for solidjs,

[2022-06-02 18:23] samijaber opened #431 "Add testing for CLI output"
Baby step of https://github.com/BuilderIO/mitosis/issues/430, idea by @kylecordes

- Update `examples/basic`'s dependency on CLI to be `workspace:*`
  - this entails adding that folder as a yarn workspace, and sorting any outstanding issues on that front
- add `yarn run build` in `examples/basic` as a CI test step

[2022-06-02 18:26] samijaber commented on #431
@sachinraja you helped us out with the migration to yarn v3 workspaces. Do you have any quick thoughts on why I wasn't able to easily use `workspace:*` in `examples/basic`?

- I added `examples/basic` as a workspace in root `package.json`
- I changed the dependency in `examples/basic/package.json` to `"@builder.io/mitosis-cli": "workspace:*"`

I get this error:
<img width="777" alt="image" src="ht

[2022-06-02 18:44] chadalen opened #432 "Setting state to a property on a ref throws "Object is possibly 'undefined'" for React output"
- [x] I am interested in helping provide a fix!

**Scope**
- [ ] This impacts ALL Mitosis outputs
- [x] This only impacts specific generators/outputs (please list them here):
React only

**Describe the bug**
If you set state to a property on a ref e.g
[code]

React build fails with error (see below)

The React output should be using optional chaining to make sure `.current` is not `null` or `undef

[2022-06-02 18:50] PatrickJS commented on #432
@chadalen you can update code here

https://github.com/BuilderIO/mitosis/blob/5c40807e9ca6f1d3ca12e83af7780e3aa5deaaf5/packages/core/src/generators/react.ts#L524

[2022-06-02 18:50] chadalen commented on #432
@PatrickJS Perfect thanks I'll create a PR real quick.

[2022-06-02 19:17] PatrickJS commented on #428
fixed via https://github.com/BuilderIO/mitosis/pull/429

[2022-06-02 19:17] #428 closed

[2022-06-02 19:17] chadalen opened #435 "docs: update local developer docs to mention command yarn run fmt:prettier"
- [x] I am interested in helping provide a fix!

The local developer docs found [here](https://github.com/BuilderIO/mitosis/tree/main/developer) should mention after the developer makes their changes to run `yarn run fmt:prettier` in the root of the project to make sure their code is formatted so the linter doesn't fail.

For reference see [here](https://github.com/BuilderIO/mitosis/pull/429#issue

[2022-06-02 19:18] PatrickJS commented on #432
fixed via https://github.com/BuilderIO/mitosis/pull/433

[2022-06-02 19:18] #432 closed

[2022-06-03 03:28] PatrickJS opened #437 "core: add compile away packages"
remove custom mitosis package such as internal published versions of mitosis

[2022-06-03 03:37] PatrickJS opened #438 "core: MitosisComponent.refs"
add refs to MitosisComponent for type and argument

[2022-06-03 04:55] PatrickJS opened #440 "angular: remove @Input() children: any;"
prevent @Input() children: any; from being generated

[2022-06-03 06:50] PatrickJS commented on #425
for svelte the issue is with inline arrow functions with and without `{}`

working `() => `
https://mitosis.builder.io/?outputTab=svelte&code=import+%7B+useState%2C+onUpdate%2C+onMount+%7D+from+%22%40builder.io%2Fmitosis%22%3B%0A%0Aexport+default+function+MyComponent%28props%29+%7B%0A++const+state+%3D+useState%28%7B%0A++++name%3A+%22Steve%22%0A++%7D%29%3B%0A%0A++onMount%28%28%29+%3D%3E+%7B%0A++++s

[2022-06-03 07:21] PatrickJS commented on #425
I make a fix for svelte
https://github.com/BuilderIO/mitosis/pull/439/commits/c17d05321abb82fc35cf687cf872c42441e832fd

[2022-06-03 16:12] samijaber commented on #425
@PatrickJS Not sure why you changed this github issue though. Does #439 fix `useState` + `onUpdate` for Angular? I don't see changes in the snapshot there indication so...

Did you mean to create a separate ticket for the `svelte` bug?

[2022-06-03 16:20] PatrickJS commented on #425
the angular output looks fine to me
https://stackblitz.com/edit/angular-mxdo5g?file=src/app/app.component.ts

[2022-06-03 16:26] samijaber commented on #425
I'm reverting your changes to this issue. Feel free to create a separate issue for the Svelte problem if that feels like a different scope, or we can keep both here.

[2022-06-03 16:26] PatrickJS commented on #425
isn't that an issue with useState examples?

[2022-06-03 16:28] samijaber commented on #425
@PatrickJS Read this thread in full please.

I explained in https://github.com/BuilderIO/mitosis/issues/425#issuecomment-1143603976 that we support both formats, and that the `[foo, setFoo] = useState()` format is still supported across all frameworks, and there is a bug in combining that syntax with usage of `setFoo` within `onUpdate`

[2022-06-03 16:33] PatrickJS commented on #425
the helpers to convert all of those all live in the react generator so we would have to move all of those to helpers and apply them to every framework

updateStateSetters, updateStateSettersInCode, getUseStateCode

[2022-06-03 16:46] PatrickJS opened #442 "svelte: syntax error when using arrow function brackets for onChange"
inline arrow functions with `{}` br

working `() => `
https://mitosis.builder.io/?outputTab=svelte&code=import+%7B+useState%2C+onUpdate%2C+onMount+%7D+from+%22%40builder.io%2Fmitosis%22%3B%0A%0Aexport+default+function+MyComponent%28props%29+%7B%0A++const+state+%3D+useState%28%7B%0A++++name%3A+%22Steve%22%0A++%7D%29%3B%0A%0A++onMount%28%28%29+%3D%3E+%7B%0A++++state.name+%3D+%27hola%27%3B%0A++%7D%29

[2022-06-04 02:01] kylecordes opened #444 "React output can have JS files without TS source, hindering consumption from TS"
- [X] I am interested in helping provide a fix!
- [X] ... though I am currently working on e2e testing likely to reveal more bugs instead...

**Scope**
- [ ] This impacts ALL Mitosis outputs
- [X] This only impacts specific generators/outputs (please list them here): React

**Describe the bug**

The react output includes TypeScript and JavaScript. The TypeScript is missing for non-component files,

[2022-06-04 18:45] kylecordes opened #446 "BUG: Vue: add missing `.vue` extension to component imports"
**Scope**
- [ ] This impacts ALL Mitosis outputs
- [X] This only impacts specific generators/outputs (please list them here): Vue

**Describe the bug**

When outputting 2 components to Vue, where one uses the other, the import is missing the .vue extension and does not work.

**To Reproduce**

Problem is visible in this example, on the selected file, on line 25.

https://stackblitz.com/edit/node-3

[2022-06-05 18:01] CKGrafico opened #447 "Svelte does not allow to use the same name from props/function in state"
**Scope**
- [ ] This impacts ALL Mitosis outputs
- [X] This only impacts specific generators/outputs (please list them here):
Svelte

**Describe the bug**
If you create a state with a key that has the same name than a prop or a hook, this is not allowed by svelte, is this by design? this is only happening with svelte.

A link to a https://mitosis.builder.io/ fiddle containing the bug:  https://mit

[2022-06-06 13:15] samijaber commented on #446
@kylecordes Thanks for filing.

How are you generating these components? `mitosis build`, `mitosis compile`, or directly importing generator fns from `@builder.io/mitosis`?

[2022-06-06 13:19] samijaber commented on #447
@CKGrafico This is a well-known limitation in Mitosis in general: https://github.com/BuilderIO/mitosis/blob/main/packages/eslint-plugin/docs/rules/no-var-name-same-as-state-property.md

Since in Svelte, both `props` and `state` properties get hoisted to the module scope, this is bound to happen. We can potentially work around it in the future by adding more complex logic in our generators where we

[2022-06-06 13:19] #447 closed

[2022-06-06 13:44] samijaber opened #450 "Rename reference `.lite.tsx` file in `mitosis build`, put behind flag"
As per my comment in https://github.com/BuilderIO/mitosis/issues/444#issuecomment-1147455393, this is generating confusion.

Things to do:
- rename the outputted file's extension to `original.lite.tsx`
- Instead of the condition being `target === 'swift' || target === 'svelte'`, it should be a new option e.g. `options.outputOriginal`, which is opt-in (e.g. `false` by default)

The code to change w

[2022-06-06 13:45] samijaber commented on #444
Created https://github.com/BuilderIO/mitosis/issues/450 as per my comment. Will close this issue for now!

[2022-06-06 13:45] #444 closed

[2022-06-06 13:48] samijaber commented on #228
Closed by #247

[2022-06-06 13:57] CKGrafico commented on #447
Oh amazing I will use your eslint.. I was not using it.
Thanks for the info

[2022-06-06 15:57] kylecordes commented on #228
E2E testing should validate the features that work across N targets. The initial fully-supported set (features that work "everywhere") might be pretty small, but should grow nicely over time.

[2022-06-06 17:55] PatrickJS commented on #421
fixed via https://github.com/BuilderIO/mitosis/pull/453 https://github.com/BuilderIO/mitosis/pull/449

[2022-06-06 17:55] #421 closed

[2022-06-06 18:12] PatrickJS opened #454 "core: better tests for parsers/jsx"
* We need a test to fail when we add new features or change the way the parser works that may break it
* We need some documentation on how it works and what patterns are preferred

A few quick videos would be a quick way to document this for current contributors and any future ones trying to jump in. When the codebase is more mature, or by demand, we can put more effort into documenting this more

[2022-06-06 20:16] PatrickJS opened #455 "react: support forwardRef aka ref in props"
in React some libs manages inputs by forwardRefs in order to get the DOM internal state for the parent before render prop is invoked.

we need to remove any refs from props

* vue: doesn't have forwardRefs
https://github.com/vuejs/rfcs/issues/258

[2022-06-06 20:57] PatrickJS commented on #455
some work on this in this commit https://github.com/BuilderIO/mitosis/pull/439/commits/9cbac7670a90aad4a4f810292cdfc0ea1ad81718

[2022-06-07 18:08] CKGrafico opened #457 "useRef not exist in Solid after compilation"
**Scope**
- [ ] This impacts ALL Mitosis outputs
- [X] This only impacts specific generators/outputs (please list them here):
Solid

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  Copy oficial code using 'useRef' from mitosis examples https://github.com/BuilderIO/mitosis/blob/43179c29a11d48b5f51e9138630c1eac6b021d87/packages/core/src/__tests__/data/blocks/embed.

[2022-06-07 19:09] samijaber commented on #279
Closed by #313 🎉

[2022-06-07 19:09] #279 closed

[2022-06-07 19:10] samijaber commented on #176
Docs are in better shape now, can close this and open specific tickets for missing docs later

[2022-06-07 19:10] #176 closed

[2022-06-07 19:10] #214 closed

[2022-06-07 19:54] CKGrafico commented on #457
Happy to hear that is going to be easy to fix, thanks!

[2022-06-07 19:58] PatrickJS commented on #457
here are the changes for it https://github.com/BuilderIO/mitosis/pull/439/commits/32d5ecf207d8a7edc4c283cbe361bc0a561813f3

[2022-06-07 21:11] #186 closed

[2022-06-07 21:11] #400 closed

[2022-06-07 21:11] #437 closed

[2022-06-07 21:11] #438 closed

[2022-06-07 21:11] #440 closed

[2022-06-07 21:11] #442 closed

[2022-06-07 21:11] #455 closed

[2022-06-07 21:11] #457 closed

[2022-06-07 21:44] PatrickJS commented on #427
for JSX they usually want you to import classnames that does this
https://www.npmjs.com/package/classnames

[2022-06-07 21:49] PatrickJS commented on #372
this is working correctly in React now. We can create new issues for each framework when others need it

[2022-06-07 21:50] originswift-sys commented on #372
@PatrickJS how soon will this be published to npm?

[2022-06-07 23:49] PatrickJS commented on #455
I added some docs on it https://github.com/BuilderIO/mitosis/pull/458

[2022-06-08 09:07] decadef20 commented on #389
the de-structured assignment may do alias or set a default value. If we undo it,  we need to handle the default value of props

[code]

[2022-06-08 13:51] samijaber commented on #427
Yeah, this suggestion effectively entails implementing what the `classnames` package does into Mitosis. I think, for now, folks who like those ergonomics can import `classnames` manually and use it, and we can explore baking it in the future once the fundamentals of the Mitosis core are more stable.

[2022-06-08 16:27] originswift-sys commented on #372
Little hiccup...

The source:
[code]

generates...

[code]

All imports are not export like before. Did I miss something? I was on v0.0.55 and v0.0.16 before.

[2022-06-08 16:39] samijaber commented on #372
I don't understand this statement. What are you expecting to see? The generated output you shared looks good to me. What is it missing?

[2022-06-08 17:28] samijaber commented on #372
Oh, I missed that. Thanks for explaining. Will file a separate issue for this.

[2022-06-08 17:30] originswift-sys commented on #372
Great. Thanks!

[2022-06-08 17:33] samijaber opened #461 "Type imports are missing"
Originally from https://github.com/BuilderIO/mitosis/issues/372#issuecomment-1150135164

For this input:
[code]

the output does not preserve the `import { HTMLAttributes } from "react";` line

[2022-06-08 17:33] samijaber commented on #461
cc @originswift-sys

[2022-06-08 17:56] PatrickJS commented on #372
we also do React.HTMLAttributes for these types for now

[2022-06-08 19:23] PatrickJS commented on #461
I saw @kylecordes use this. can we update the imports to remove the need for `dist/src`
[code]

[2022-06-08 19:53] PatrickJS opened #462 "react: transfer types forwardRef"
We need to parse the type in the Props and transfer the type to the forwardRef

mitosis input
[code]

react output
[code]

[2022-06-08 19:54] PatrickJS commented on #462
@samijaber we need a parser to parse the types for local exports. We can't transfer types for Angular output either without that

[2022-06-08 20:18] samijaber commented on #462
@PatrickJS The path of least resistance to get this working without any additional parsing is to simply access `Props["inputRef"]`. We know the name of the props type from `json.propsTypesRef`, and the name of the prop through the `getRefsString`.

Will put up a WIP PR for you to see what I mean

[2022-06-08 20:40] PatrickJS commented on #424
fixed by https://github.com/BuilderIO/mitosis/pull/449 and https://github.com/BuilderIO/mitosis/pull/464

[2022-06-08 20:42] #462 closed

[2022-06-08 20:42] #424 closed

[2022-06-08 20:44] samijaber commented on #450
I corrected a mistake in my description: the reference files are actually the _first version_ of the generated output. In the case of Mitosis's `build` command, there are sometimes additional transpilation steps after generating this initial output (for certain targets like React, React-Native, Soli).

Therefore it still makes the most sense to keep them in their respective generated output direct

[2022-06-09 18:02] PatrickJS commented on #461
we need docs on how to import jsx-types and how to extend the types

[2022-06-09 18:39] samijaber commented on #461
By the way @originswift-sys, your issue might be tied to the fact that we compile away React imports:

https://github.com/BuilderIO/mitosis/blob/454dc3f44335a4b6bcb6d085f51a389dc666b2c3/packages/core/src/parsers/jsx.ts#L1013-L1026

Will get back to this issue with more details later, and information on providing type imports.

[2022-06-09 19:20] samijaber opened #466 "Idea: Mitosis bot to handle generating build changes"
Came out of a conversation with @mandx. Writing it here to not lose the idea.

When building a Mitosis project whose outputs are all independent npm packages, there's one issue: every PR with changes in  `src`, but also the same files in `output/vue/src`, `output/svelte/src`, `output/react-native/src`, etc. This makes every PR huge, and unreasonable to easily review. The problem scales with the nu

[2022-06-10 13:53] samijaber commented on #446
Not quite. Added a PR to outline the diffs between the two CLI commands a little better https://github.com/BuilderIO/mitosis/pull/467/files

But yes, using `build` is the right thing in this case, and I see in our own Vue SDKs that the `.vue` extension is not there. However, our Mitosis-generated Vue SDK work fine. I think it might be an env-based thing (Webpack vs esbuild vs vite vs nuxt...etc)

[2022-06-10 13:58] samijaber commented on #446
I guess it's best to include the explicit `.vue` extension to avoid problems though.

We have 2 functions that replace a `.lite` extension in an import statement:

Once when a Mitosis component's code is generated

https://github.com/BuilderIO/mitosis/blob/a2a8a53ed100abc7a944110c59b2d622dd30016e/packages/core/src/helpers/render-imports.ts#L31-L42

Once in a general transpilation step in `mitosis

[2022-06-10 14:06] #431 closed

[2022-06-10 17:16] PatrickJS opened #469 "core: add MitosisComponent.props"
I think the code will be a lot simpler in the generators if we provide more metadata on the props. For example in angular we want to know if it's a function and if it's being invoked. or in React if it's going used in `ref` binding.

I was something something like
[code]

[2022-06-10 20:50] kylecordes opened #472 "Svelte generation fails if there is an inner function"
- [X] I am interested in helping provide a fix!

**Scope**
- [X] This only impacts specific generators/outputs (please list them here): Svelte

**Describe the bug**

Mitosis fails with an error trying to generate Svelte output for a simple component with an inner function, in this case addItem()

[code]

[2022-06-10 20:53] samijaber commented on #472
Oh, I would move `addItem` as a function within `state`. In mitosis, any constant, variable or function you want needs to exist within `state`. You should not expect a "loose" function like this in the component scope to work properly

[2022-06-10 20:55] samijaber commented on #472
I'm not surprised this worked in React, but I'd expect it to start breaking in other targets sooner!

[2022-06-11 02:35] kylecordes opened #473 "webcomponent output has TypeScript in a .js file"
- [X] I am interested in helping provide a fix!

**Scope**

- [X] This only impacts specific generators/outputs (please list them here): webcomponent

**Describe the bug**

The webcomponent output has a ".js" file, which has TypeScript code in it. Downstream tools... are not expecting this.

**To Reproduce**

[code]

look at `packages/e2e-app/output/webcomponent/src/components/my-component.js`

**

[2022-06-11 07:24] decadef20 commented on #469
Can you please provide a detailed example  of how we use `MitosisComponent.props`

[2022-06-11 14:24] kylecordes opened #476 "HTML output is in a .js file"
- [X] I am interested in helping provide a fix!

**Scope**
- [X] This only impacts specific generators/outputs (please list them here):

**Describe the bug**

The html output target lands in a file with .js extension.

**To Reproduce**

[code]

Then look at `packages/e2e-app/output/html/src/components/my-component.js`

**Expected behavior**

HTML output in a `.html` file, or perhaps consider some

[2022-06-11 15:38] kylecordes commented on #472
Ideas:

* Detect and emit error message when parsing, rather than fail in generating
* Enhance docs about how you are intended to code in Mitosis

Are there any docs for this? I am happy to PR an improvement with the thing you described above.

[2022-06-11 15:44] kylecordes commented on #446
Great to see the doc improvement!

In terms of code gen, I think the "just works" path is to generate files that will work with whatever the most common downstream tools are. Not sure if I picked right, using Vite+Vue for the E2E; maybe that is pickier than Vue's own CLI. Of course it would be best to work with both.

Ideally the result is a "pit of success" -> no matter what you throw at Mitosis,

[2022-06-11 15:53] kylecordes commented on #466
Another way to handle this: have your source code in a project, have a corresponding `-builds` project that contains the build output.

[2022-06-13 08:10] originswift-sys commented on #461
@samijaber not just the react imports though... none of my exports are included in the output.
I'm currently blocked because I can't import shared logic and theme components.
I was also wondering if it would be okay to preserve direct css imports (verbatim), e.g. `import "base-styles.css";` and allow the processor installed in the consuming project handle that bit.

[2022-06-13 08:14] originswift-sys commented on #461
I thought about several additional ways of currying the output. Like lambda hooks: `afterGen(targetFramework, ...otherOptions)`, `beforeGen(targetFramework, ...otherOptions)`, etc... so one could basically use these to include or remove stuff, pre and post generation.

[2022-06-13 15:50] CKGrafico commented on #416
I wait for some days to be sure but, how is this fixed? https://mitosis.builder.io/?outputTab=webcomponents&code=import+%7B+onMount%2C+useMetadata%2C+useState+%7D+from+%27%40builder.io%2Fmitosis%27%3B%0Aimport+%7B+classesToString+%7D+from+%27..%2F..%2F..%2Fhelpers%27%3B%0Aimport+%7B+Dynamic%2C+Intent%2C+SharedProps%2C+Variant+%7D+from+%27..%2F..%2F..%2Fmodels%27%3B%0Aimport+%27.%2Fbutton.css%27%3B

[2022-06-13 16:05] originswift-sys commented on #461
Thanks for pointing me to the plugin. I missed it.

What I mean is, previously, imports were just copied over to the generated output. So if I did:
[code]
...it was simply copied over to the output.
The recent version only deals with exported tokens. That said, when a component references an imported token, the output is broken, because the used references (imports) are left out.
The plugin is one

[2022-06-13 17:49] samijaber commented on #416
@CKGrafico Our build pipeline does not (yet) automatically deploy changes to the Fiddle. We're having some issues updating it at the moment, but will let you know when it is live with the latest Mitosis code.

[2022-06-13 17:55] samijaber commented on #476
@PatrickJS Do you have any thoughts on this from your work on the HTML generator?

It _might_ be as simple as adding the right extension here for `mitosis build`

https://github.com/BuilderIO/mitosis/blob/ab0708fd2c07a06a7a52ab7490cd8e716759a48a/packages/cli/src/build/helpers/extensions.ts#L3

[2022-06-13 18:04] CKGrafico commented on #416
@samijaber sorry I've used as example, I'm having the same behaviour in my library with the version [0.0.17-13](https://www.npmjs.com/package/@builder.io/mitosis-cli/v/0.0.17-13)

[2022-06-13 18:04] samijaber commented on #469
@PatrickJS Debating whether we can keep this logic in generators for now, until we see enough need for it to be permanently embedded in the JSON schema. That way, we can gather more use-cases from more generators about what info we need to store, and the schema will be more accurate.

Unless doing it in the generators is a lot harder or hacky than in the babel transform of the JSX parser, in which

[2022-06-13 18:22] #446 closed

[2022-06-13 18:22] samijaber commented on #446
Yeah 100%. Made the `.vue` extension always there now.

[2022-06-13 18:23] samijaber opened #478 "Migrate Fiddle to NextJS + Vercel"
Our fiddle build is broken, and we're on an old create-react-app with lots of bloat. Much easier to cut all the stuff out and restart with a clean NextJS project that deploys to a Vercel page on each deploy

[2022-06-13 18:25] samijaber opened #479 "Fiddle: dropdown for Mitosis versions"
Instead of hardcoding mitosis versions in Fiddle, we should have a dropdown that dynamically fetches all (or the last 10-15) versions of the `core` package, and allow the user to select which version they want.

That means we won't need to publish the Fiddle anymore for new Core deploys.

Should probably do this after #478  is done.

[2022-06-13 18:34] samijaber commented on #473
Good catch.

Now that we are starting to add types to the Mitosis generators' output, we need to rename the default extension(s) that our `mitosis build` command uses to `.ts`/`.tsx` probably: https://github.com/BuilderIO/mitosis/blob/ab0708fd2c07a06a7a52ab7490cd8e716759a48a/packages/cli/src/build/helpers/extensions.ts#L3-L16

Also, we might want to add some logic to toggle TS output on/off in the

[2022-06-13 18:51] samijaber commented on #472
Yeah, in general, we have tried to document everything in https://github.com/BuilderIO/mitosis/blob/main/docs/gotchas.md, or even codifying it in ESLint rules that error if you attempt to do something that won't work as expected: https://github.com/BuilderIO/mitosis/tree/main/packages/eslint-plugin

The reason I might not want to codify what I said in this issue is that technically, this should wo

[2022-06-13 18:56] CKGrafico commented on #416
MAybe it helps to others meanwhile you update the builder, this is what the cli is generating with the code of my previous example, thanks team :)

[code]

PS: The solution is in the connected callback as @PatrickJS  mentioned

[2022-06-13 21:57] samijaber opened #481 "Throw error if hooks do not get compiled away"
To catch any bugs or odd scenarios where a Mitosis hook makes it to the final output, we should throw errors everywhere here:

https://github.com/BuilderIO/mitosis/blob/590b9c5e873bf92465dbdd5e0e3d57d818e6724a/packages/core/src/index.ts#L5-L24

[code]

cc @PatrickJS

[2022-06-13 22:21] PatrickJS commented on #481
actually we can just add this to the file itself since mitosis doesn't have a runtime

[2022-06-13 22:24] samijaber commented on #481
To the module scope of `core/src/index.ts`? I don't think that'll work, because we import other parts of `@builder.io/mitosis` in the CLI, and to import stuff like the generators etc.

[2022-06-13 22:44] PatrickJS commented on #481
how's this https://github.com/BuilderIO/mitosis/pull/482

[2022-06-14 16:44] samijaber opened #483 "Component exports not including Functions"
https://github.com/BuilderIO/mitosis/blob/7b5d4c9396c975b3af5ab83734622347cd546862/packages/core/src/parsers/jsx.ts#L1009

We are hitting this warning in our snapshot tests for React when running for this snapshot:
https://github.com/BuilderIO/mitosis/blob/7b5d4c9396c975b3af5ab83734622347cd546862/packages/core/src/__tests__/data/basic-ref-usePrevious.raw.tsx#L7

Looking at the logic:
https://githu

[2022-06-14 18:09] samijaber opened #485 "`propsTypesRef` not working with destructured props"
If we add the same Props types to these two snapshots:

https://github.com/BuilderIO/mitosis/blob/da3e2671f5d76bf3a002ebee4f397493d3ea6996/packages/core/src/__tests__/data/basic-props-destructure.raw.tsx#L4
https://github.com/BuilderIO/mitosis/blob/da3e2671f5d76bf3a002ebee4f397493d3ea6996/packages/core/src/__tests__/data/basic-props.raw.tsx#L4

[code]

Then the `parser-jsx` test will fail due to t

[2022-06-14 18:15] samijaber commented on #483
We should change the warning to throw an error, or at least improve the warning: "Could not parse export: ignoring..."

[2022-06-14 18:40] PatrickJS commented on #476
Ive been focusing on webcomponent only. Html output needs some work. It's a little bit confusing what html output should be. Become It's not webcomponent it does make sense to keep them .html files but they're not exactly components

[2022-06-14 18:50] samijaber commented on #36
Closing this because of the progress done on #484. It's not iterating over everything, but allowing each generator to opt-in to the blocks it needs to test, which helps account for discrepancies between them.

[2022-06-15 02:07] decadef20 commented on #485
I'll fix it later @samijaber

[2022-06-16 15:25] samijaber commented on #478
closed by #479

[2022-06-16 15:25] #478 closed

[2022-06-17 15:10] samijaber opened #492 "Add Vue 3 support"
- Fix Vue 3 output
- Setup CLI & mitosis.config.js to allow a user to generate both in one `mitosis build` run

[2022-06-17 17:41] kylecordes commented on #492
Import difference between Vue 2 and 3 shown here. Vue 2 commented, Vue 3 uncommented.

![Screen Shot 2022-06-16 at 11 00 14 PM](https://user-images.githubusercontent.com/8799/174350317-0b344c11-312d-46a8-8a3b-cd0c00b385a6.png)

[2022-06-17 17:42] kylecordes commented on #472
I think we can close this one because the ongoing improvement of the docs to set expectations of what code works is already well-known elsewhere, right?

[2022-06-17 17:45] kylecordes opened #493 "Doc request: more about mitosis.config.ts"
Currently the file `configuration.md` has a very brief description of the configuration, pointing to the type definition for details.

This is infinitely better than nothing; thank you.

Still... this issue is a documentation request that someone very familiar with this configuration file explain it more fully in human-oriented documentation. That should be helpful for people newly arriving to the

[2022-06-17 18:19] kylecordes opened #494 "Accept input from anywhere, not just src/**"
I’ve noticed 3 related limitations on how mitosis accepts input files.

* Currently, inside `build.ts` mitosis is hardcoded to expect the source input is under `src`; you can change the glob for the lite.tsx files to a different path, but the TypeScript `*.ts` glob comes from `src` regardless.
* `src` and any further prefix becomes part of the output file paths, sometimes leading to needlessly dee

[2022-06-17 18:28] kylecordes commented on #450
As I look back at this, I suspect the best default is to **not** emit this file to the output. That matches the behavior of most other compilers of all kinds, which typically emit intermediate/diagnostic files only on request.

[2022-06-17 19:36] samijaber commented on #450
Yeah agreed, that's what I've been thinking throughout this: Get rid of it completely, add an `output: 'ts' | 'js'` flag in the mitosis config. Only output 1 thing based off of it.

[2022-06-17 19:37] samijaber commented on #450
Lines up with our separate issues around adding TS output to the CLI commands. The generators currently are starting to output TS, but the CLI has not caught up: it ends up transpiling code down to JS in many cases.

[2022-06-17 21:31] samijaber commented on #472
I'd rather stick with creating issues until we have that system in place, to avoid the risk of forgetting what to test for. I don't mind having tons of issues highlighting bugs 😄

[2022-06-18 03:18] orenelbaum opened #498 "Question: Why are you using Solid's createMutable?"
I wasn't sure if I should open an issue about this but I saw that you are using Solid' `createMutable` which is not recommended and is intended mostly for easier transition from libraries with similar APIs. Other than not having read and write segregation it also leads to over subscription. Maybe you guys are aware of that already, just wanted to make sure.

[2022-06-18 03:20] trusktr commented on #498
`createMutable` is wonderful. I really love it. Sometimes the DX is more worth a negligible performance. The over subscription only happens in some cases, but Solid has been making progress on this (f.e. Array methods).

[2022-06-18 03:26] trusktr commented on #498
Oh, if we're talking about build output though, we may as well use the most optimal output: plain signals whenever possible.

[2022-06-18 03:27] orenelbaum commented on #498
Yeah we are talking about build output.

[2022-06-18 16:13] kylecordes opened #499 "Angular output has TS code in a JS file"
### To Reproduce

[code]

look at `packages/e2e-app/output/angular/src/components/my-component.js`

[code]

### Expected behavior

Either emit JS Angular (which is rarely used), or name the file `.ts`.

[2022-06-18 16:30] kylecordes commented on #473
An a PR coming soon I’m looking to address just the first part of this, getting the extensions right.

Once mitosis can emit valid TypeScript in all cases, there shouldn't be any need to have another code path to directly emit JavaScript.

[2022-06-18 16:37] PatrickJS commented on #499
Should be ts

[2022-06-18 18:35] kylecordes opened #501 "Angular output contains superflous global.d.ts"
### Currently

The Angular output includes a file `global.d.ts`, containing JavaScript output from a bundling process, starting with:

[code]

When this file is seen by Angular tooling (for example, Angular CLI), building the Angular app fails.

### Expected

Angular output should contain only the exact files/contents that are accepted by commonly used Angular tools - no superflous files.

[2022-06-18 18:40] PatrickJS commented on #501
This is with the CLI right?

[2022-06-18 18:43] kylecordes commented on #501
Yes, with `mitosis build`, which I assume will be the main way "the masses" use Mitosis when it takes over the industry.

[2022-06-18 18:45] kylecordes commented on #499
@PatrickJS my PR in progress makes it so

[2022-06-18 18:47] PatrickJS commented on #499
Yeah we use core directly so I think there's a slight disconnect with some changes and the CLI

[2022-06-18 19:01] kylecordes opened #502 "Angular component export should not be default"
### Currently

Angular output looks like this:

[code]

Note the "export default". Although this **can** be used, it is very unusual / non-idiomatic in the Angular ecosystem.

### Expected

[code]

[2022-06-18 19:04] kylecordes commented on #501
(I'm working on E2E tests, which use Mitosis completely via the CLI - that's the most end-to-end I think. If the CLI produces correct results, all the code throughout works.)

[2022-06-18 19:08] kylecordes commented on #499
When you use core directly, are you taking responsibility yourself for file naming etc.?

I have not dug into the code in core versus CLI, but hopefully there is not different, conflicting output file naming code between them :-) :-(

[2022-06-18 19:13] kylecordes commented on #476
Sure, my bug report was only at a initial, highly surface level. That the contents of the file should match the extension.

For the real question of what the output should be, does anyone know what the output looks like for existing, already popular component sets packaged as web components? I'm just catching up on email on the weekend as I write this, otherwise I would go research right now...

[2022-06-18 19:38] kylecordes opened #503 "Move Angular event handlers to functions"
### Currently

As with other output, the Angular output passes in-line event handling code through. For example, this input:

[code]

Produces this output:

[code]

This will not work in the general case (or in the specific case above), because Angular has its own notion of the syntax that works for an in-line event handler. Angular does not accept arbitrary TypeScript or JavaScript like a JSX/TSX

[2022-06-18 19:40] PatrickJS commented on #499
Yeah core just outputs a string so this is more of an issue with the CLI. Mitosis should definitely output ts as the default or at least for angular. We need a way to detect what output we want (ts or js)

[2022-06-18 20:09] PatrickJS commented on #503
This should be fine in angular is it not? Mitosis output cant 100% follow each framework patterns without a lot more work. Definitely possible though. This isn't too hard to add though

[2022-06-18 22:52] kylecordes commented on #503
Ah, great point - yes, the answer will be to treat event handlers similarly to what is needed with web component output.

For background - the examples above does not work in Angular today. Here is the Angular doc page, it broadly describes the differences between Angular template expressions and general JS/TS syntax:

https://angular.io/guide/understanding-template-expr-overview

Here is someone

[2022-06-18 23:06] PatrickJS commented on #503
Wild, I remember when they create the issue  about `...` in the template lol yeah ill fix this

[2022-06-18 23:12] PatrickJS commented on #476
@samijaber @steve8708 what is the expected html output? Is it the same thing as webcomponent just with no custom elements?

[2022-06-20 19:12] dystopiandev commented on #461
Bump. Any workarounds for this?

[2022-06-21 15:19] steve8708 commented on #476
yeah exactly, the initial thinking was this is useful for very simple things. so can support basic HTML output, event listeners, data bindings. so is useful for codegen for things like Builder. not necessarily sure how it could or ever would child components tho, that is the main known constraint right now

[2022-06-21 16:22] samijaber opened #506 "Fiddle: Builder Preview not receiving component"
In https://mitosis.builder.io/, the bottom half of the screen (the Builder Preview) is no longer receiving the generated component

[2022-06-21 20:55] samijaber opened #507 "Feature: SolidJS Media Query support"
Add support for media queries in the CSS-in-JS, perhaps using https://github.com/solidjs-community/solid-primitives/tree/main/packages/media#readme

[2022-06-22 02:34] kylecordes opened #508 "Angular component should not import child component"
### Background

When you write a component in Mitosis or many other frameworks, you import a child component you will use.

In Angular, you generally do not do so; you get access to it via a module mechanism whose details aren't important to fix this incremental bug.

### Currently

Write a component that uses another component. In the Mitosis output, the first attempts to import the second (with

[2022-06-22 03:10] kylecordes commented on #435
In a recent change, I make that doc direct folks to run `yarn ci` before submitting; that include Prettier, tests, etc.

Maybe that chunk of text should explain what all checks `yarn ci` performs, i.e. Prettier and more?

[2022-06-22 14:46] steve8708 commented on #508
oh this is easy, we just need to not forward the import for Angular. we can specifically strip imports ending in `.lite` for angular

[2022-06-22 20:35] samijaber opened #509 "CLI: `mitosis build` CLI flags"
Provide a way to override the mitosis config with CLI flags for `mitosis build`, like `--targets=[solid,react]` which will supersede whatever is in `mitosis.config.js`

_Originally posted by @samijaber in https://github.com/BuilderIO/mitosis/pull/500#discussion_r904202348_

[2022-06-22 20:36] samijaber opened #510 "CLI: `mitosis build` `--errors` flag"
Add an `errors` flag with settings like
- `skip-target` (which skips the whole target if one file fails) - `skip-file` (which skips the file but keeps parsing the rest of the files for the same target)

_Originally posted by @samijaber in https://github.com/BuilderIO/mitosis/pull/500#discussion_r904202348_

[2022-06-22 21:13] samijaber commented on #498
Yeah, we're definitely open to producing the more idiomatic output!

However,  from reading SolidJS docs, it seems like the only other choice is `createStore` + `produce`, which does not map as well to our Mitosis `createStore`. See this Mitosis example:

[code]

Which currently becomes this SolidJS code:

[code]

I'm not super familiar with Solid's state management solutions, but it looks to me l

[2022-06-22 22:16] #473 closed

[2022-06-22 22:16] #476 closed

[2022-06-22 22:16] #499 closed

[2022-06-22 23:08] samijaber opened #511 "CLI: toggle JS/TS output"
We want to add some logic to toggle TS output on/off in the CLI commands, and select `.ts`/`.js` (or `.jsx`/`.tsx`) based on that. To do that:

- have the core generators always emit TS, and add a `MitosisConfig["outputs"]: ["typescript" | "javascript"]` flag to the CLI.
  - If the `outputs` array contains `typescript`, we output the TS code as-is.
  - If the `outputs` array contains `javascript`,

[2022-06-23 03:28] orenelbaum commented on #498
This is the most idiomatic way:

[code]

You can put `addItem` inside the store, I don't know if it's common among Solid users but I don't think there are any problems with that.

You can also do
[code]

Or less optimally one of those:
[code]
Which will update the whole list instead of just a specific position in the array.

Maybe you guys should consider changing Mitosis' API to have read/write s

[2022-06-23 14:25] samijaber opened #514 "Feature: Portals"
We need to implement a proof of concept for Portals in Mitosis very similar to React: some sort of mechanism that will allow users to render components at the root.

In the case of React, it would be as simple as reusing `React.createPortal()` in the generated React code. We would need to investigate all other frameworks to see how we can possibly provide similar functionality.

[2022-06-23 14:26] samijaber commented on #492
closed by #495  and #497

[2022-06-23 14:26] #492 closed

[2022-06-23 20:32] samijaber opened #517 "BUG: Svelte `onUpdate` with dependencies re-renders every time"
- [ ] I am interested in helping provide a fix!

**Scope**
- [ ] This impacts ALL Mitosis outputs
- [x] This only impacts specific generators/outputs (please list them here): svelte

**Describe the bug**
Svelte generator spits out `onAfterUpdate` which re-renders on each update.

**To Reproduce**

A link to a https://mitosis.builder.io/ fiddle containing the bug: [link](https://mitosis.builder.io/

[2022-06-23 20:43] steve8708 commented on #498
ah yes, alternatively we can also use signals too. what I like about createmutable is support for nested mutation, so similar to what we do for react, svelte, etc we could just have an output using signals (basically identical to our react hooks output except all access is a function call instead of a direct reference

[code]

[2022-06-24 02:08] orenelbaum commented on #498
Yeah this is the easiest solution and I think that it's also slightly faster than stores although stores are more idiomatic.

[2022-06-26 15:02] kylecordes commented on #430
From discussions with @samijaber , here is some elaboration of goals for end to end testing. Two "axes".

1. A set of small programs which exercise each Mitosis feature. First exercising them in isolation, then in combination. Currently there is 1 such program, likely 10-20 will be needed. For each such program, have a Playwright test.
2. List of Mitosis targets. As I write this, 6 targets work.

[2022-06-26 15:19] kylecordes commented on #430
Here are some of the obstacles to doing this today; I'm considering how many to work around, vs wait for, vs jump into the middle of Mitosis and fix.

All of these can be worked around... but that's not ideal because the workarounds are further from intended real Mitosis use.

#510 Currently, Mitosis fails if output for any target fails, I have an approach to work around this by running Mitosis se

[2022-06-27 16:21] chadalen opened #522 "BUG: Getting "Variable declaration inside component is ignored during compilation" Lint error on useRef hook"
- [ ] I am interested in helping provide a fix!

**Scope**
- [ ] This impacts ALL Mitosis outputs
- [ ] This only impacts specific generators/outputs (please list them here):

**Describe the bug**
Upon using the `useRef` hook inside a component
e.g
[code]

I get lint error
"Variable declaration inside component is ignored during compilationeslint(@builder.io/mitosis/no-var-declaration-or-assignmen

[2022-06-27 16:28] PatrickJS commented on #522
when we're using `useRef` not as a DOM reference we may also reassign the var. That means Mitosis also supports `let` for this case since Mitosis doesn't use `.current` like react

[2022-06-27 16:35] samijaber opened #523 "Fix/implement JSX Runtime types"
Currently, Mitosis components are not able to get correct JSX runtime types. We are doing things the old school way: exporting a global JSX interface. This conflicts with react types.

We should do things the new way, by providing a JSX interface that is exported at the `jsx-runtime` `exports` of `package.json`, and then consumers will need to add `jsxImportSource: '@builder.io/mitosis'` to `tscon

[2022-06-28 19:04] samijaber commented on #523
@decadef20 You most certainly can!! It's something we need to fix very badly for v1.

Let me know if you need any additional information or get stuck in any way!

I would use the Qwik library approach for inspiration:

https://unpkg.com/browse/@builder.io/qwik@0.0.25/jsx-runtime.d.ts
https://unpkg.com/browse/@builder.io/qwik@0.0.25/package.json

See how:
- `jsx-runtime.d.ts` contains a `export dec

[2022-06-28 19:17] samijaber opened #524 "Tooling: cannot use path aliases in imports"
Even though the typescript server accepts them just fine in my VSCode, the build fails if we use a path alias.

https://github.com/BuilderIO/mitosis/blob/b8d083ca78bdaec332745d2a0f8c0890335072c4/packages/core/src/generators/vue.ts#L3-L16

These all have to be relative paths. If I were to write:

[code]

Then the build crashes, even though it seems to be properly setup in `tsconfig.json`. It's prob

[2022-06-28 19:17] samijaber commented on #524
I think this impacts both `core` and our `cli` projects, but I am not entirely sure.

[2022-06-28 19:21] samijaber commented on #387
I think this was fixed, right @PatrickJS ?

[2022-06-28 19:22] samijaber commented on #267
Ah, duplicate of #524 . Closing this one

[2022-06-28 19:22] #267 closed

[2022-06-28 21:01] samijaber opened #525 "Feature: compress/shorten mitosis fiddle URLs"
It would be amazing if we can add some URL shortening capability to our https://mitosis.builder.io/ links. Right now, we just append a `code` query param containing the entire code block, which makes it really rough to share those links.

Any approach to compress the query param would be great

[2022-06-28 21:07] samijaber commented on #435
@chadalen Are you still interested in doing this? Should be a quick doc change. Otherwise I can unassign you

[2022-06-28 21:20] samijaber opened #526 "BUG: Mitosis does camelCase HTML attributes in React"
**Scope**
- [ ] This impacts ALL Mitosis outputs
- [x] This only impacts specific generators/outputs (please list them here): React

**Describe the bug**
Attributes like `srcset` are camelCased in React (possibly other frameworks? Not sure). However, Mitosis does not account for that

**To Reproduce**

A link to a https://mitosis.builder.io/ fiddle containing the bug: [link](https://mitosis.builde

[2022-06-28 21:36] samijaber commented on #526
Technical information:

We already have a list of all HTML elements: https://github.com/BuilderIO/mitosis/blob/b8d083ca78bdaec332745d2a0f8c0890335072c4/packages/core/src/constants/html_tags.ts#L1

We want to go to the `blockToReact` function, and identify blocks that are native HTML elements, and rename any `json.bindings` or `json.properties` keys that should be camelCased.

https://github.com/Bu

[2022-06-29 00:38] #387 closed

[2022-06-29 13:36] #522 closed

[2022-06-29 14:24] chadalen commented on #435
@samijaber Here's the PR https://github.com/BuilderIO/mitosis/pull/528

[2022-06-29 21:22] samijaber commented on #435
Closed by #528

[2022-06-29 21:22] #435 closed

[2022-06-30 00:51] samijaber opened #529 "Fiddle: add TS Support"
Our Fiddle still does not support TS, even though Mitosis itself knows how to handle it!

<img width="843" alt="image" src="https://user-images.githubusercontent.com/1393142/176569542-29269529-7459-4501-9dc2-41611cf7b489.png">

This is weird because we set `language="typescript"`:

https://github.com/BuilderIO/mitosis/blob/7bc921c4ef53fdaf1b902618aab34f8398c1ad93/packages/fiddle/src/components/Fid

[2022-06-30 00:56] samijaber opened #530 "BUG: string props defined like {"$VAL"} are considered bindings"
**Scope**
- [x] This impacts ALL Mitosis outputs

**To Reproduce**
A link to a https://mitosis.builder.io/ fiddle containing the bug: [link](https://mitosis.builder.io/?outputTab=json&code=export+default+function+RenderBlocks%28props%29+%7B%0A++return+%28%0A++++%3Cdiv%0A++++++val1%3D%22ok%22%0A++++++val2%3D%7B%22ok%22%7D%0A%2F%3E%0A++%29%3B%0A%7D%0A)

**Expected behavior**
`val2` should be under `

[2022-06-30 01:40] samijaber opened #531 "BUG: class/className bindings to not merge with CSS properties"
- [ ] I am interested in helping provide a fix!

**Scope**
- [x] This impacts ALL Mitosis outputs
- [ ] This only impacts specific generators/outputs (please list them here):

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
A link to a https://mitosis.builder.io/ fiddle containing the bug: [link](https://mitosis.builder.io/?outputTab=react&code=import+%7B

[2022-06-30 01:59] samijaber commented on #250
Similarly, comments within JSX cause issues: [see](https://mitosis.builder.io/?outputTab=react&code=export+default+function+MyBasicComponent%28%29+%7B%0A++return+%28%0A++++%3Cdiv%0A++++++%2F%2F+%40ts-ignore%0A++++++foo%3D%7B%27bar%27%7D%0A++++%3E%0A++++++Hello%21+I+can+run+in+React%2C+Vue%2C+Solid%2C+or+Liquid%21%0A++++%3C%2Fdiv%3E%0A++%29%3B%0A%7D%0A)

They end up making it to the final version o

[2022-06-30 11:35] orenelbaum opened #533 "Feature request: Add Astro support"
I know that we can compile Mitosis to any of the frameworks that Astro supports but I think that it could probably be beneficial to support compiling directly to Astro components.

[2022-06-30 20:40] orenelbaum commented on #533
I just realized that Astro components don't appear to support client side interactivity so I'm closing this issue

[2022-06-30 20:40] #533 closed

[2022-07-01 17:06] PatrickJS commented on #69
yeah not documented because there were questions on what the angular/webcomponent version looks like

[2022-07-01 17:08] PatrickJS commented on #69
to create the context for angular. I still need to work on here.
https://github.com/BuilderIO/mitosis/issues/330
but to consume context works correctly. For what you're doing there might be some questions on how it would work with Angular and other frameworks if everything was in Mitosis

[2022-07-03 17:52] kylecordes commented on #330
Adoption usually takes a while, it seems safe to target Angular 14 and up as that will likely no longer be the latest version when Mitosis has a big enough user base for there to be lots of demand for “not the latest Angular” support

[2022-07-03 17:53] kylecordes commented on #69
Idea for webcomponent: emit code that stores context on the DOM, and walks up the DOM to retrieve it.

[2022-07-04 04:17] PatrickJS commented on #69
For webcomponent thats exactly how i wrote it and the context can be a Map instance

[2022-07-04 07:20] CKGrafico commented on #69
Because to use a Global state management library that is agnostic to the framework is too much?
Examples:
- https://github.com/pmndrs/zustand
- https://ngneat.github.io/elf/

[2022-07-04 15:07] decadef20 opened #538 "run prettier CI at the top order during RP check"
- [ ] I am interested in helping provide a fix!

**Scope**
- [ ] This impacts ALL Mitosis outputs
- [ ] This only impacts specific generators/outputs (please list them here):

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.
4.

A link to a https://mitosis.builder.io/ fiddle containing the bug:

**Expected behavior

[2022-07-04 15:19] decadef20 commented on #524
I'll look into this.

[2022-07-05 14:53] samijaber commented on #538
@decadef20 Can you elaborate on this? What's the issue you're running into?

[2022-07-05 14:59] decadef20 commented on #538
<img width="490" alt="image" src="https://user-images.githubusercontent.com/7866718/177357357-1acae691-b1c6-4d7c-85c1-773daaaaaf72.png">

Sometimes Build CI and test CI passed but lint not. If we put prettier in the first place,  we will find lint error earlier and reduce CI time.

[2022-07-05 16:15] decadef20 commented on #524
I find a related issue [tsc - doesn't compile alias paths](https://stackoverflow.com/questions/59179787/tsc-doesnt-compile-alias-paths).
Because tsc don't compile alias path, if we set an alias in `core`,  other projects in `packages` and `example` which use `core` also need to set alias.

If we set it in `example` like this:
[code]
which compiles failed.

[2022-07-05 23:53] #538 closed

[2022-07-06 16:28] CKGrafico opened #544 "Angular and Svelte style properties are not transformed"
### I am interested in helping provide a fix!

No

### Which generators are impacted?

- [ ] All
- [X] Angular
- [ ] HTML
- [ ] Qwik
- [ ] React
- [ ] React-Native
- [ ] Solid
- [ ] Stencil
- [X] Svelte
- [ ] Vue
- [ ] Web components

### Reproduction case

https://codesandbox.io/s/hungry-cache-trlkvp

### Expected Behaviour

in angular `[style]="obj"` should be `[ngStyle]="obj"` and in svelte is

[2022-07-06 16:29] samijaber opened #545 "Docs: JSX Runtime"
Now that https://github.com/BuilderIO/mitosis/pull/537 is merged, we need to add documentation explaining how the JSX Runtime should be setup. Mostly around setting up the `tsconfig.json` `jsxImportSource` flag

[2022-07-06 18:49] CKGrafico commented on #544
Sorry to many days without creating issues in your repo 😅 I’m on my phone but should be something like this.

https://mitosis.builder.io/?outputTab=react&code=import+%7B+useStore+%7D+from+%22%40builder.io%2Fmitosis%22%3B%0A%0Aexport+default+function+MyComponent%28props%29+%7B%0A++const+state+%3D+useStore%28%7B%0A++++name%3A+%22Steve%22%2C%0A++++customStyles%3A%0A++++%7B+color%3A+%27red%27%7D%0A++%

[2022-07-06 22:16] samijaber commented on #544
- For Angular: it should be a 1-line addition to this map to map `style` to `ngStyle`:

https://github.com/BuilderIO/mitosis/blob/d2635b3cb325f49a827749cfb93fef518cdc2c03/packages/core/src/generators/angular.ts#L61-L65

- For Svelte: one possible workaround would be to inject this styling helper whenever needed:
https://svelte.dev/repl/c7787db098e6495888036598586ec4f3?version=3.31.0

[code]

low-o

[2022-07-07 03:00] decadef20 commented on #545
I'll add it in `gotchas.md` later

[2022-07-08 17:18] steve8708 opened #548 "Compile away hooks"
Purely an idea, but something been thinking about a lot. One of the biggest missing DX features of Mitosis is custom hooks

Interestingly, some ppl have been exploring making [hooks libraries across frameworks](https://tanstack.com/)

If you think of someone building an app in Mitosis vs a framework like Qwik directly, you miss out on one of the main composability benefits, custom hooks. Such as a

[2022-07-08 17:19] steve8708 commented on #548
this as a feature could be useful standalone to those like tanstack too, to make hooks that support all hooks-oriented frameworks that you write once and it compiles out to all. and of course benefits mitosis components and libraries too

[2022-07-08 17:44] samijaber commented on #511
Thought through this a bit more:

For Mitosis to emit `.js` + `.d.ts` files, it would need to run `tsc`, which means that it would need to be provided a `tsconfig.json` for each output. Also, since `mitosis build` works by building & emitting files one at a time, this step would have to run at the very end, once all of the TS files have been generated and emitted. That's required for type-checking

[2022-07-08 17:56] samijaber commented on #548
Fully agree, providing some form of "hooks" support is probably a critical next feature for Mitosis. It's been on my mind...folks need a way to encapsulate complex logic and reuse it across components. https://zagjs.com/ Does somewhat of the same thing as Tanstack (hooks lib tailored for finite state machines, with framework-specific bindings for React/Vue/Solid)

Yeah, I'd want to lay out a rough

[2022-07-08 19:31] steve8708 commented on #548
Agree w/ all of that. And also currently don't think this is any level of priority but I have some vague ideas on how to support webcomponents/html/angularetc. Perhaps a little library could/would be needed. I could see that as an interesting project in general - framework agnostic simple hooks system that can plug into any framework that doesn't currently support it. This is a bit like how mobx w

[2022-07-08 20:23] #472 closed

[2022-07-10 13:15] kylecordes commented on #511
There is obvious good wisdom in punting on the complexity. That would mean Mitosis output is always "source”, never files ready to consume direct as a library. The user would then arrange to compile the .*.ts files as desired, in the source side of their application. (As far as I can tell from years working with TypeScript, tooling doesn’t want to consume `.ts` files from node_modules. It can some

[2022-07-13 13:33] #530 closed

[2022-07-13 14:19] kylecordes opened #564 "Mitosis output dir should accept any valid path"
### I am interested in helping provide a fix!

Yes

### Which generators are impacted?

- [X] All
- [ ] Angular
- [ ] HTML
- [ ] Qwik
- [ ] React
- [ ] React-Native
- [ ] Solid
- [ ] Stencil
- [ ] Svelte
- [ ] Vue
- [ ] Web components

### Reproduction case

dest: ['../anywhere']

### Expected Behaviour

Mitosis should accept any valid path for the dest.

(Also, why is the dest an array?)

### Act

[2022-07-13 14:22] kylecordes commented on #510
The E2E currently works around this by running Mitosis separately for each target. Though that causes additional difficulties because of how Mitosis handles the output path, which I will put in a separate issue.

[2022-07-13 14:30] kylecordes opened #565 "Strip off the srcPath when generating output - feature request"
## Currently

When specifying a srcPath, the path elements become part of the output generated.

For example if you had a large project and you wanted to run Mitosis at the project route and look into `a/b/c/d/somewhere` as input, the output will end up deeply nested with `a/b/c/d/somewhere` in its path.

## Feature request

Strip off the srcPath when generating output, so that the src or other si

[2022-07-13 14:31] kylecordes commented on #494
I peeled off a barely-related aspect of this to #565

[2022-07-13 14:43] kylecordes opened #566 "Output path settings, per-target"
## Currently

Mitosis always prepends the target as a directory in the path to the output. This is helpful in some cases where you want to most readily see the output for multiple targets. But it is unhelpful for more sophisticated cases.

## Feature request

**Simplest**: when outputting for only **one target**, don't prepend. Write the output where configured, and no deeper.

**Slightly better**

[2022-07-13 23:01] shubham-y commented on #526
I will like to take up this issue

[2022-07-14 00:11] steve8708 commented on #526
oh I'm not sure if lists are the wistest approach here, HTML spec constantly evolves. The intent behind our JSX is that we match React JSX, so `srcSet` should be `srcSet` in Mitosis too

In the early days I tried to do transformations like this (and we explored it with Qwik for a minute), but it wasn't wise

what's the concern with just writing `<picture srcSet>` in mitosis? then we dashCase them

[2022-07-14 00:24] steve8708 commented on #526
looking a little deeper, I feel a bit more reason to copy react the convention. with all of this we need to account for webcomponents too. what I've observed react's full logic is:

[code]

but in general we should stick to if Mitosis uses JSX style (camelCase properties) or HTML style. for familiarity, my belief was JSX style is the right way, with one exception for `class` - similar to what Soli

[2022-07-18 14:06] samijaber commented on #564
It isn't! Providing an array of 1 item works by sheer JavaScript luck 😄
<img width="204" alt="image" src="https://user-images.githubusercontent.com/1393142/179525933-d235bd2e-450a-4d26-9023-b6684d1effa3.png">

https://github.com/BuilderIO/mitosis/blob/801894b99aeefa12986185898cf310ed3376447e/packages/core/src/types/config.ts#L21-L24

[2022-07-18 14:08] samijaber commented on #566
Yeah, I'm totally open to do this. We could do something where we keep the general `dest` setting, and add per-framework config. And have the `build` CLI go through them by order of priority:

- the framework's specific `dest`
- general `dest`
- default (`output`)

[2022-07-18 16:10] bjankord commented on #493
Agreed, would love to see improved documentation for this project across the board.

[2022-07-18 16:58] samijaber commented on #493
We would love external contributions on this! The types have quite a bit of documentation: all that's needed is to copy-paste that info from:

https://github.com/BuilderIO/mitosis/blob/801894b99aeefa12986185898cf310ed3376447e/packages/core/src/types/config.ts#L16-L56

into:

https://github.com/BuilderIO/mitosis/blob/801894b99aeefa12986185898cf310ed3376447e/docs/configuration.md

This is a very eas

[2022-07-20 13:29] leopiccionia commented on #548
FYI Vue 2.x supports the Composition API natively since 2.7 (released weeks ago). For earlier releases, you need the [`@vue/composition-api`](https://www.npmjs.com/package/@vue/composition-api) plugin.

Vue 2.7 Composition API works like Vue 3 Composition API, except when [otherwise noted](https://github.com/vuejs/vue/blob/main/CHANGELOG.md#270-2022-07-01).

[2022-07-20 13:49] samijaber commented on #548
@leopiccionia Thanks a lot for sharing, that's very valuable information!

[2022-07-20 19:30] puskuruk commented on #525
I searched string compression libraries and I found [lz-string](https://github.com/pieroxy/lz-string). You can find the draft implementation below. Implementation works but I don't have much idea about the string compression and I don't know if it's the best approach.

#578

[2022-07-20 21:06] #263 closed

[2022-07-20 21:38] #525 closed

[2022-07-21 19:00] samijaber opened #580 "BUG: side-effect imports don't work"
### I am interested in helping provide a fix!

Yes

### Which generators are impacted?

- [X] All
- [ ] Angular
- [ ] HTML
- [ ] Qwik
- [ ] React
- [ ] React-Native
- [ ] Solid
- [ ] Stencil
- [ ] Svelte
- [ ] Vue
- [ ] Web components

### Reproduction case

https://mitosis.builder.io/?outputTab=G4VwpkA%3D&code=JYWwDg9gTgLgBAbzgVwM4FMDKMCGN1wC%2BcAZlBCHAEQACARssADYAm6UAdMBAPQjAwIqYKioBuAFChIsOAHJU

[2022-07-21 20:18] samijaber commented on #183
Ah, duplicated this in #529. Closing in favor of the new one

[2022-07-21 20:18] #183 closed

[2022-07-21 20:19] samijaber commented on #529
Ideas from other issue:

https://github.com/BuilderIO/mitosis/issues/183#issuecomment-1050129752

[2022-07-21 20:22] samijaber commented on #372
Closing this issue in favour of individual issues per framework. The core engine now supports storing type information in the Mitosis JSON 👍🏽

[2022-07-21 20:22] #372 closed

[2022-07-21 20:23] samijaber opened #581 "Svelte: Generate Typescript code"
Spun out from https://github.com/BuilderIO/mitosis/issues/372

We would have to repeat step 3, but for Svelte: https://github.com/BuilderIO/mitosis/issues/372#issuecomment-1133471614

NOTE: `svelte` needs a `lang=ts` attribute added to its `<script>` to handle TS code

[2022-07-21 20:24] samijaber opened #582 "Vue: Generate Typescript code"
Spun out from https://github.com/BuilderIO/mitosis/issues/372

We would have to repeat step 3, but for Vue: https://github.com/BuilderIO/mitosis/issues/372#issuecomment-1133471614

[2022-07-21 20:24] samijaber opened #583 "Solid: Generate Typescript code"
Spun out from https://github.com/BuilderIO/mitosis/issues/372

We would have to repeat step 3, but for Vue: https://github.com/BuilderIO/mitosis/issues/372#issuecomment-1133471614

[2022-07-21 21:10] #580 closed

[2022-07-22 18:06] #508 closed

[2022-07-23 19:52] florian-lefebvre opened #587 "Dynamic component not supported"
### I am interested in helping provide a fix!

No

### Which generators are impacted?

- [X] All
- [ ] Angular
- [ ] HTML
- [ ] Qwik
- [ ] React
- [ ] React-Native
- [ ] Solid
- [ ] Stencil
- [ ] Svelte
- [ ] Vue
- [ ] Web components

### Reproduction case

https://mitosis.builder.io/?outputTab=G4VwpkA%3D&code=KYDwDg9gTgLgBAE2AMwIYFcA29noHYDGMAlhHnACrADOMAwhALaR7B4wAUYUEY1AlHADeAKDhwCZWnACimYIzbwA

[2022-07-24 16:59] kylecordes commented on #508
Great !!

[2022-07-25 14:49] samijaber commented on #587
Dynamic components are well supported. Your example breaks because you are declaring a constant in the render body, which Mitosis does not handle well. See [this example](https://mitosis.builder.io/?outputTab=G4VwpkA%3D&code=JYWwDg9gTgLgBAbzgVwM4FMDKNroL5wBmUEIcA5AAIBGywANgCbpQB0wEA9CMDqsKnIAoIegAekWHGaEAhsnrxCyAHYBjGBxVwAKulQwAwqUgr0KmAAowJMKgCUiIXDhqIKg3AOyY6OAF4UDGxcSwRnFzgAc3R4dHp0EHMYADlZJMtH

[2022-07-25 14:49] #587 closed

[2022-07-25 17:57] kylecordes commented on #511
Yes, exactly. I definitely don't urge growing scope too fast... but it would be perfect if eventually the config/flags included telling Mitosis what version of React/etc to use, then Mitosis would emit the package.json and all other needed files, ready to use with no further edits!

[2022-07-25 18:01] kylecordes commented on #565
My initial hunch is that Mitosis could grown to a huge and happy user base, with only a tiny fraction left behind by the lack of user-specified glob or multi src globs.

[2022-07-25 18:55] samijaber commented on #498
Asked questions in the SolidJS Discord, here's the thread https://discord.com/channels/722131463138705510/751355413701591120/1001192746301788180

We might want to try some of these options:
- find a way to `batch` code (while making sure that code does not access the updated values, which will cause stale content to be used)
- use his `createLiveMutable` implementation
- wrap `useMutable` with a P

[2022-07-25 19:16] steve8708 commented on #498
Should we not just use signals? What's the downside to the most simple/idiomatic approach used in solidjs's docs?

[2022-07-26 03:12] kylecordes opened #592 "Qwik output doesn't emit mutable() as Qwik requires"
### I am interested in helping provide a fix!

No

### Which generators are impacted?

- [ ] All
- [ ] Angular
- [ ] HTML
- [X] Qwik
- [ ] React
- [ ] React-Native
- [ ] Solid
- [ ] Stencil
- [ ] Svelte
- [ ] Vue
- [ ] Web components

### Reproduction case

https://github.com/kylecordes/qwik-lib-repro

### Expected Behaviour

Note that the above repro does not call Mitosis. It just has the Mitosis

[2022-08-01 16:03] kylecordes opened #601 "Generate Angular module(s) or component list .ts file"
### Currently

Mitosis emits Angular components, but a consumer needs to know the exact set of components that will be emitted, and to hardcode a module to declare them.

### Feature Request

Emit a module, a `ts` file importing and listing the components, or other.

### Workaround

E2E testing (PR in progress) generates such a component list - a more robust version of this could be in Mitosis its